In [1]:
import sys
sys.path.append('/home/jovyan/work/')
sys.path.append('/home/jovyan/work/src')
sys.path.append('/home/jovyan/work/src/data')
sys.path.append('/home/jovyan/work/src/features')

In [2]:
import sys
print(sys.path)

['/home/jovyan/work/notebooks', '/opt/conda/lib/python311.zip', '/opt/conda/lib/python3.11', '/opt/conda/lib/python3.11/lib-dynload', '', '/opt/conda/lib/python3.11/site-packages', '/home/jovyan/work/', '/home/jovyan/work/src', '/home/jovyan/work/src/data', '/home/jovyan/work/src/features']

In [3]:
from src import data
from data import create_input_data
from data_explore import explore_util
from features import build_features

In [149]:
df = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Feb2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377,1080,c442-022
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377,76,"c446-[062,111,122],c447-[061-063]"
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377,0,c403-034
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378,91,c438-021
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378,41,c403-034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906,23,c469-061
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906,54,c469-011
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906,38,c469-092
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906,129,"c412-074,c422-113"
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906,127,c403-[051-052]

In [96]:
opt_df=build_features.remove_cols(df,['jobid','user','reqcpus','nnodes','max_minutes','backlog_minutes',
                                      'backlog_num_jobs','running_num_jobs','running_minutes','account','state','run_minutes','nodelist'])

In [120]:
opt_df=opt_df.iloc[0:20,]
opt_df

                submit               start                 end  queue_minutes
0  2022-02-01 00:10:00 2022-02-01 00:10:02 2022-02-01 18:10:39              0
1  2022-02-01 00:11:44 2022-02-01 07:44:39 2022-02-01 09:00:46            452
2  2022-02-01 00:12:27 2022-02-01 00:12:27 2022-02-01 00:12:39              0
3  2022-02-01 00:16:45 2022-02-01 04:43:31 2022-02-01 06:15:04            266
4  2022-02-01 00:17:49 2022-02-01 00:17:51 2022-02-01 00:58:55              0
5  2022-02-01 00:18:35 2022-02-01 00:18:36 2022-02-01 01:13:43              0
6  2022-02-01 00:20:34 2022-02-01 00:20:34 2022-02-01 01:51:34              0
7  2022-02-01 00:23:46 2022-02-01 04:55:24 2022-02-01 06:26:53            271
8  2022-02-01 00:31:31 2022-02-01 07:45:05 2022-02-01 10:53:40            433
9  2022-02-01 00:33:19 2022-02-01 00:33:21 2022-02-01 00:35:07              0
10 2022-02-01 00:35:00 2022-02-01 00:37:59 2022-02-01 02:02:00              2
11 2022-02-01 00:37:17 2022-02-01 00:37:20 2022-02-01 14:03:09              0
12 2022-02-01 00:37:46 2022-02-01 00:37:48 2022-02-01 02:02:21              0
13 2022-02-01 00:40:17 2022-02-01 00:40:19 2022-02-01 00:45:41              0
14 2022-02-01 00:43:05 2022-02-01 00:44:03 2022-02-01 02:32:51              0
15 2022-02-01 00:43:14 2022-02-01 00:43:14 2022-02-01 01:53:46              0
16 2022-02-01 00:45:18 2022-02-01 07:55:53 2022-02-01 10:02:09            430
17 2022-02-01 00:46:15 2022-02-01 07:23:05 2022-02-01 08:47:32            396
18 2022-02-01 01:01:36 2022-02-01 01:01:37 2022-02-01 05:46:45              0
19 2022-02-01 01:08:46 2022-02-01 01:09:26 2022-02-01 11:07:25              0

In [150]:
from importlib import reload
reload(create_input_data)
lookback=75 #(10,rowsto discard: 13, (25,55),(35,55),(50,71),(75,192))
col_name="queue_minutes"
op_df,rows_to_discard=create_input_data.optimised_add_past_k_obs_insert(lookback, df,col_name)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42
*** loopback_count never equals to  lookback. so do not consider the row 43
*** loopback_count never equals to  lookback. so do not consider the row 44
*** loopback_count never equals to  lookback. so do not consider the row 45
*** loopback_count never equals to  lookback. so do not consider the row 46
*** loopback_count never equals to  lookback. so do not consider the row 47
*** loopback_count never equals to  lookback. so do not consider the row 48
*** loopback_count never equals to  lookback. so do not consider the row 49
*** loopback_count never equals to  lookback. so do not consider the row 50
*** loopback_count never equals to  lookback. so do not consider the row 51
*** loopback_count never equals to  lookback. so do not consider the row 52
*** loopback_count never equals to  lookback. so do not consider the row 53
*** loopback_count never equals to  lookback. so do not consider the row 54
*** loopback_count never equals to  lookback. so do not consider the row 55
*** loopback_count never equals to  lookback. so do not consider the row 56
*** loopback_count never equals to  lookback. so do not consider the row 57
*** loopback_count never equals to  lookback. so do not consider the row 58
*** loopback_count never equals to  lookback. so do not consider the row 59
*** loopback_count never equals to  lookback. so do not consider the row 60
*** loopback_count never equals to  lookback. so do not consider the row 61
*** loopback_count never equals to  lookback. so do not consider the row 62
*** loopback_count never equals to  lookback. so do not consider the row 63
*** loopback_count never equals to  lookback. so do not consider the row 64
*** loopback_count never equals to  lookback. so do not consider the row 65
*** loopback_count never equals to  lookback. so do not consider the row 66
*** loopback_count never equals to  lookback. so do not consider the row 67
*** loopback_count never equals to  lookback. so do not consider the row 68
*** loopback_count never equals to  lookback. so do not consider the row 69
*** loopback_count never equals to  lookback. so do not consider the row 70
*** loopback_count never equals to  lookback. so do not consider the row 71
*** loopback_count never equals to  lookback. so do not consider the row 72
*** loopback_count never equals to  lookback. so do not consider the row 73
*** loopback_count never equals to  lookback. so do not consider the row 74
*** loopback_count never equals to  lookback. so do not consider the row 75
*** loopback_count never equals to  lookback. so do not consider the row 76
*** loopback_count never equals to  lookback. so do not consider the row 77
*** loopback_count never equals to  lookback. so do not consider the row 78
*** loopback_count never equals to  lookback. so do not consider the row 79
*** loopback_count never equals to  lookback. so do not consider the row 80
*** loopback_count never equals to  lookback. so do not consider the row 81
*** loopback_count never equals to  lookback. so do not consider the row 82
*** loopback_count never equals to  lookback. so do not consider the row 83
*** loopback_count never equals to  lookback. so do not consider the row 84
*** loopback_count never equals to  lookback. so do not consider the row 85
*** loopback_count never equals to  lookback. so do not consider the row 86
*** loopback_count never equals to  lookback. so do not consider the row 87
*** loopback_count never equals to  lookback. so do not consider the row 88
*** loopback_count never equals to  lookback. so do not consider the row 89
*** loopback_count never equals to  lookback. so do not consider the row 90
*** loopback_count never equals to  lookback. so do not consider the row 91
*** loopback_count never equals to  lookback. so do not consider the row 92
*** loopback_count never equals to  lookback. so do not consider the row 93
*** loopback_count never equals to  lookback. so do not consider the row 94
*** loopback_count never equals to  lookback. so do not consider the row 95
*** loopback_count never equals to  lookback. so do not consider the row 96
*** loopback_count never equals to  lookback. so do not consider the row 97
*** loopback_count never equals to  lookback. so do not consider the row 98
*** loopback_count never equals to  lookback. so do not consider the row 99
*** loopback_count never equals to  lookback. so do not consider the row 100
*** loopback_count never equals to  lookback. so do not consider the row 101
*** loopback_count never equals to  lookback. so do not consider the row 102
*** loopback_count never equals to  lookback. so do not consider the row 103
*** loopback_count never equals to  lookback. so do not consider the row 104
*** loopback_count never equals to  lookback. so do not consider the row 105
*** loopback_count never equals to  lookback. so do not consider the row 106
*** loopback_count never equals to  lookback. so do not consider the row 107
*** loopback_count never equals to  lookback. so do not consider the row 108
*** loopback_count never equals to  lookback. so do not consider the row 109
*** loopback_count never equals to  lookback. so do not consider the row 110
*** loopback_count never equals to  lookback. so do not consider the row 111
*** loopback_count never equals to  lookback. so do not consider the row 112
*** loopback_count never equals to  lookback. so do not consider the row 113
*** loopback_count never equals to  lookback. so do not consider the row 114
*** loopback_count never equals to  lookback. so do not consider the row 115
*** loopback_count never equals to  lookback. so do not consider the row 116
*** loopback_count never equals to  lookback. so do not consider the row 117
*** loopback_count never equals to  lookback. so do not consider the row 118
*** loopback_count never equals to  lookback. so do not consider the row 119
*** loopback_count never equals to  lookback. so do not consider the row 120
*** loopback_count never equals to  lookback. so do not consider the row 121
*** loopback_count never equals to  lookback. so do not consider the row 122
*** loopback_count never equals to  lookback. so do not consider the row 123
*** loopback_count never equals to  lookback. so do not consider the row 124
*** loopback_count never equals to  lookback. so do not consider the row 125
*** loopback_count never equals to  lookback. so do not consider the row 126
*** loopback_count never equals to  lookback. so do not consider the row 127
*** loopback_count never equals to  lookback. so do not consider the row 128
*** loopback_count never equals to  lookback. so do not consider the row 129
*** loopback_count never equals to  lookback. so do not consider the row 130
*** loopback_count never equals to  lookback. so do not consider the row 131
*** loopback_count never equals to  lookback. so do not consider the row 132
*** loopback_count never equals to  lookback. so do not consider the row 133
*** loopback_count never equals to  lookback. so do not consider the row 134
*** loopback_count never equals to  lookback. so do not consider the row 135
*** loopback_count never equals to  lookback. so do not consider the row 136
*** loopback_count never equals to  lookback. so do not consider the row 137
*** loopback_count never equals to  lookback. so do not consider the row 138
*** loopback_count never equals to  lookback. so do not consider the row 139
*** loopback_count never equals to  lookback. so do not consider the row 140
*** loopback_count never equals to  lookback. so do not consider the row 141
*** loopback_count never equals to  lookback. so do not consider the row 142
*** loopback_count never equals to  lookback. so do not consider the row 143
*** loopback_count never equals to  lookback. so do not consider the row 144
*** loopback_count never equals to  lookback. so do not consider the row 145
*** loopback_count never equals to  lookback. so do not consider the row 146
*** loopback_count never equals to  lookback. so do not consider the row 147
*** loopback_count never equals to  lookback. so do not consider the row 148
*** loopback_count never equals to  lookback. so do not consider the row 149
*** loopback_count never equals to  lookback. so do not consider the row 150
*** loopback_count never equals to  lookback. so do not consider the row 151
*** loopback_count never equals to  lookback. so do not consider the row 152
*** loopback_count never equals to  lookback. so do not consider the row 153
*** loopback_count never equals to  lookback. so do not consider the row 154
*** loopback_count never equals to  lookback. so do not consider the row 155
*** loopback_count never equals to  lookback. so do not consider the row 156
*** loopback_count never equals to  lookback. so do not consider the row 157
*** loopback_count never equals to  lookback. so do not consider the row 158
*** loopback_count never equals to  lookback. so do not consider the row 159
*** loopback_count never equals to  lookback. so do not consider the row 160
*** loopback_count never equals to  lookback. so do not consider the row 161
*** loopback_count never equals to  lookback. so do not consider the row 162
*** loopback_count never equals to  lookback. so do not consider the row 163
*** loopback_count never equals to  lookback. so do not consider the row 164
*** loopback_count never equals to  lookback. so do not consider the row 165
*** loopback_count never equals to  lookback. so do not consider the row 166
*** loopback_count never equals to  lookback. so do not consider the row 167
*** loopback_count never equals to  lookback. so do not consider the row 168
*** loopback_count never equals to  lookback. so do not consider the row 169
*** loopback_count never equals to  lookback. so do not consider the row 170
*** loopback_count never equals to  lookback. so do not consider the row 171
*** loopback_count never equals to  lookback. so do not consider the row 172
*** loopback_count never equals to  lookback. so do not consider the row 173
*** loopback_count never equals to  lookback. so do not consider the row 174
*** loopback_count never equals to  lookback. so do not consider the row 175
*** loopback_count never equals to  lookback. so do not consider the row 176
*** loopback_count never equals to  lookback. so do not consider the row 177
*** loopback_count never equals to  lookback. so do not consider the row 178
*** loopback_count never equals to  lookback. so do not consider the row 179
*** loopback_count never equals to  lookback. so do not consider the row 180
*** loopback_count never equals to  lookback. so do not consider the row 181
*** loopback_count never equals to  lookback. so do not consider the row 182
*** loopback_count never equals to  lookback. so do not consider the row 183
*** loopback_count never equals to  lookback. so do not consider the row 184
*** loopback_count never equals to  lookback. so do not consider the row 185
*** loopback_count never equals to  lookback. so do not consider the row 186
*** loopback_count never equals to  lookback. so do not consider the row 187
*** loopback_count never equals to  lookback. so do not consider the row 188
*** loopback_count never equals to  lookback. so do not consider the row 189
*** loopback_count never equals to  lookback. so do not consider the row 190
*** loopback_count never equals to  lookback. so do not consider the row 191
*** loopback_count never equals to  lookback. so do not consider the row 192

In [142]:
op_df

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,0,0,0,0,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,0,0,0,0

In [151]:
rows_to_discard

192

In [152]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback75_anon_feb1_aug1.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
op_df.to_csv(filepath,index=False)

In [6]:
from importlib import reload
reload(create_input_data)
df_aug = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Aug2022_1Sept2022normal_sorted.csv", parse_dates_col=[4,5,6])

lookback=35 #(discard row 47 )
col_name="queue_minutes"
op_df,rows_to_discard=create_input_data.optimised_add_past_k_obs_insert(lookback, df_aug,col_name)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42
*** loopback_count never equals to  lookback. so do not consider the row 43
*** loopback_count never equals to  lookback. so do not consider the row 44
*** loopback_count never equals to  lookback. so do not consider the row 45
*** loopback_count never equals to  lookback. so do not consider the row 46
*** loopback_count never equals to  lookback. so do not consider the row 47

In [7]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback35_anon_aug1_sept1.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
op_df.to_csv(filepath,index=False)

In [7]:
from importlib import reload
reload(create_input_data)
df_sept = create_input_data.read_data(csv_file_name= "../data/raw/anon_jobs_1Sept2022_1Oct2022_normal_sorted.csv", parse_dates_col=[4,5,6])
lookback=35 #(discard row 42)
col_name="queue_minutes"
op_df,rows_to_discard=create_input_data.optimised_add_past_k_obs_insert(lookback, df_sept,col_name)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42

In [8]:
op_df

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10202520,33dc82f5d7e2facb223e88a102e629700f8ef0f2157f0a...,fad8925cc9b13df0251c48f6ffe1e39c2f7dca981137bb...,COMPLETED,2022-09-01 00:01:13,2022-09-01 00:01:13,2022-09-01 01:28:13,68,1,2160,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1,10202521,33dc82f5d7e2facb223e88a102e629700f8ef0f2157f0a...,fad8925cc9b13df0251c48f6ffe1e39c2f7dca981137bb...,COMPLETED,2022-09-01 00:01:21,2022-09-01 00:01:22,2022-09-01 01:10:40,68,1,2160,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
2,10202523,957171b261d4acdae7532fdb88a02c394208918481c215...,07690a43d3b9702585a306e8ce235cdf25709d020f52f2...,COMPLETED,2022-09-01 00:02:54,2022-09-01 00:02:55,2022-09-01 00:04:47,4,1,10,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
3,10202524,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-09-01 00:03:09,2022-09-01 00:03:10,2022-09-01 00:31:04,36,36,60,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
4,10202525,957171b261d4acdae7532fdb88a02c394208918481c215...,07690a43d3b9702585a306e8ce235cdf25709d020f52f2...,COMPLETED,2022-09-01 00:03:19,2022-09-01 00:03:19,2022-09-01 00:07:02,4,1,10,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78903,10362530,d0184bde51d229b96acfc69db68e503171dfa0c2743ade...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-09-30 23:58:03,2022-09-30 23:58:39,2022-10-01 00:17:02,120,5,40,...,1,1,0,0,0,0,0,0,0,0
78904,10362531,d0184bde51d229b96acfc69db68e503171dfa0c2743ade...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-09-30 23:58:11,2022-09-30 23:58:39,2022-10-01 00:16:57,120,5,40,...,1,1,0,0,0,0,0,0,0,0
78905,10362532,d0184bde51d229b96acfc69db68e503171dfa0c2743ade...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-09-30 23:58:19,2022-09-30 23:58:39,2022-10-01 00:17:01,120,5,40,...,1,1,0,0,0,0,0,0,0,0
78906,10362533,d0184bde51d229b96acfc69db68e503171dfa0c2743ade...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-09-30 23:58:28,2022-09-30 23:58:39,2022-10-01 00:16:57,120,5,40,...,1,1,0,0,0,0,0,0,0,0
78907,10362534,d0184bde51d229b96acfc69db68e503171dfa0c2743ade...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-09-30 23:58:36,2022-09-30 23:59:17,2022-10-01 00:17:35,120,5,40,...,1,1,0,0,0,0,0,0,0,0

In [10]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback35_anon_sept1_oct1.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
op_df.to_csv(filepath,index=False)

In [19]:
from importlib import reload
reload(create_input_data)
df_oct = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Oct2022_1Nov2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df_oct
lookback=35 #(discard row 54)
col_name="queue_minutes"
op_df,rows_to_discard=create_input_data.optimised_add_past_k_obs_insert(lookback, df_oct,col_name)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42
*** loopback_count never equals to  lookback. so do not consider the row 43
*** loopback_count never equals to  lookback. so do not consider the row 44
*** loopback_count never equals to  lookback. so do not consider the row 45
*** loopback_count never equals to  lookback. so do not consider the row 46
*** loopback_count never equals to  lookback. so do not consider the row 47
*** loopback_count never equals to  lookback. so do not consider the row 48
*** loopback_count never equals to  lookback. so do not consider the row 49
*** loopback_count never equals to  lookback. so do not consider the row 50
*** loopback_count never equals to  lookback. so do not consider the row 51
*** loopback_count never equals to  lookback. so do not consider the row 52
*** loopback_count never equals to  lookback. so do not consider the row 53
*** loopback_count never equals to  lookback. so do not consider the row 54

In [20]:
op_df

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10362537,5120327f03a93e5a25d7f703cb028aaf88907b099f58a7...,540a448cc8f3edadb5fa75816a7b85805e55e678003009...,COMPLETED,2022-10-01 00:01:55,2022-10-01 00:02:26,2022-10-01 00:15:09,1024,16,30,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1,10362538,5120327f03a93e5a25d7f703cb028aaf88907b099f58a7...,540a448cc8f3edadb5fa75816a7b85805e55e678003009...,COMPLETED,2022-10-01 00:02:06,2022-10-01 00:02:27,2022-10-01 00:15:11,1024,16,30,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
2,10362543,f4758641d564f65ff90e9ae957a6f16651f0c7c4e2ac9e...,2616f85fd2bffe5a14b74f1ae8ffb5744bf18b83b0fd6a...,COMPLETED,2022-10-01 00:06:12,2022-10-01 00:06:19,2022-10-01 02:53:56,1,1,300,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
3,10362544,f4758641d564f65ff90e9ae957a6f16651f0c7c4e2ac9e...,2616f85fd2bffe5a14b74f1ae8ffb5744bf18b83b0fd6a...,COMPLETED,2022-10-01 00:06:21,2022-10-01 00:08:12,2022-10-01 02:56:53,1,1,300,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
4,10362568,d0184bde51d229b96acfc69db68e503171dfa0c2743ade...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-10-01 00:21:44,2022-10-01 00:22:01,2022-10-01 00:28:19,120,5,30,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41659,10479353,b065dc6b494064591b0234096942cb09481a37201c2388...,98e60f276753241f0e86fef95a6a60c790a17a9c678fcc...,COMPLETED,2022-10-31 23:43:12,2022-11-01 00:01:36,2022-11-01 01:28:02,64,1,2880,...,0,1,0,3,0,0,0,0,0,0
41660,10479354,a920b593f0d515f0486e0b7ddc9120468160f65c78fcda...,e70b7400b5daa02aa60e724a2e9e33283646a3cefb9fb7...,COMPLETED,2022-10-31 23:43:27,2022-10-31 23:45:11,2022-10-31 23:49:05,1,1,240,...,0,1,0,3,0,0,0,0,0,0
41661,10479363,a920b593f0d515f0486e0b7ddc9120468160f65c78fcda...,e70b7400b5daa02aa60e724a2e9e33283646a3cefb9fb7...,COMPLETED,2022-10-31 23:48:46,2022-10-31 23:49:54,2022-10-31 23:52:04,1,1,240,...,0,0,1,0,3,0,0,0,0,0
41662,10479367,b065dc6b494064591b0234096942cb09481a37201c2388...,98e60f276753241f0e86fef95a6a60c790a17a9c678fcc...,COMPLETED,2022-10-31 23:50:52,2022-11-01 00:03:56,2022-11-01 02:41:52,64,1,2880,...,0,0,0,1,0,3,0,0,0,0
41663,10479368,a920b593f0d515f0486e0b7ddc9120468160f65c78fcda...,c945fea09b546fddf8868bd6e4bb1052629e0124c720ea...,COMPLETED,2022-10-31 23:51:25,2022-11-01 08:05:10,2022-11-02 04:33:05,272,4,2880,...,0,0,0,1,0,3,0,0,0,0

In [21]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback35_anon_oct1_nov1.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
op_df.to_csv(filepath,index=False)

In [15]:
from importlib import reload
reload(create_input_data)
df_nov = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Nov2022_1Dec2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df_nov
lookback=35 #(discard row 75)
col_name="queue_minutes"
op_df,rows_to_discard=create_input_data.optimised_add_past_k_obs_insert(lookback, df_nov,col_name)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42
*** loopback_count never equals to  lookback. so do not consider the row 43
*** loopback_count never equals to  lookback. so do not consider the row 44
*** loopback_count never equals to  lookback. so do not consider the row 45
*** loopback_count never equals to  lookback. so do not consider the row 46
*** loopback_count never equals to  lookback. so do not consider the row 47
*** loopback_count never equals to  lookback. so do not consider the row 48
*** loopback_count never equals to  lookback. so do not consider the row 49
*** loopback_count never equals to  lookback. so do not consider the row 50
*** loopback_count never equals to  lookback. so do not consider the row 51
*** loopback_count never equals to  lookback. so do not consider the row 52
*** loopback_count never equals to  lookback. so do not consider the row 53
*** loopback_count never equals to  lookback. so do not consider the row 54
*** loopback_count never equals to  lookback. so do not consider the row 55
*** loopback_count never equals to  lookback. so do not consider the row 56
*** loopback_count never equals to  lookback. so do not consider the row 57
*** loopback_count never equals to  lookback. so do not consider the row 58
*** loopback_count never equals to  lookback. so do not consider the row 59
*** loopback_count never equals to  lookback. so do not consider the row 60
*** loopback_count never equals to  lookback. so do not consider the row 61
*** loopback_count never equals to  lookback. so do not consider the row 62
*** loopback_count never equals to  lookback. so do not consider the row 63
*** loopback_count never equals to  lookback. so do not consider the row 64
*** loopback_count never equals to  lookback. so do not consider the row 65
*** loopback_count never equals to  lookback. so do not consider the row 66
*** loopback_count never equals to  lookback. so do not consider the row 67
*** loopback_count never equals to  lookback. so do not consider the row 68
*** loopback_count never equals to  lookback. so do not consider the row 69
*** loopback_count never equals to  lookback. so do not consider the row 70
*** loopback_count never equals to  lookback. so do not consider the row 71
*** loopback_count never equals to  lookback. so do not consider the row 72
*** loopback_count never equals to  lookback. so do not consider the row 73
*** loopback_count never equals to  lookback. so do not consider the row 74
*** loopback_count never equals to  lookback. so do not consider the row 75

In [16]:
op_df

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10479394,80c01b0d2c0e8ced61cc3e5ed179f72ecfa0fc7cf22ae9...,346849be0324afaef1154c59d4aaf3782f4954e891c580...,COMPLETED,2022-11-01 00:06:12,2022-11-01 08:05:05,2022-11-01 10:01:32,64,1,2880,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1,10479395,cfe86ef0933978bf62fd251f67421b2fb0dad171d17076...,9a2bec10ab2bdf10c7102a88a47a9688810673217c0423...,COMPLETED,2022-11-01 00:06:29,2022-11-01 00:06:51,2022-11-01 00:07:08,64,1,30,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
2,10479454,eb4c93b800983eb5fdba780b27f6486c83044544bf0b2a...,3c81dd9a6d343206b50c23ac29da37e4a7a39dc3f9a51e...,COMPLETED,2022-11-01 00:40:26,2022-11-01 00:40:39,2022-11-01 00:57:12,1,1,45,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
3,10479458,622072008543ccc6ce94a1213b3c1993ddc4a920f7b34a...,9a2affe4b60db8d36d36ad78b51436d2def7be238f18eb...,COMPLETED,2022-11-01 00:43:12,2022-11-01 00:43:13,2022-11-01 00:43:22,68,1,1,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
4,10479469,d0184bde51d229b96acfc69db68e503171dfa0c2743ade...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-11-01 00:49:04,2022-11-01 00:49:13,2022-11-01 01:23:01,312,13,75,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55525,10607351,33dc82f5d7e2facb223e88a102e629700f8ef0f2157f0a...,fad8925cc9b13df0251c48f6ffe1e39c2f7dca981137bb...,COMPLETED,2022-11-30 23:53:18,2022-12-01 00:03:50,2022-12-01 13:27:28,68,1,2160,...,0,0,0,0,0,0,0,0,0,0
55526,10607352,33dc82f5d7e2facb223e88a102e629700f8ef0f2157f0a...,fad8925cc9b13df0251c48f6ffe1e39c2f7dca981137bb...,COMPLETED,2022-11-30 23:53:27,2022-12-01 00:03:53,2022-12-01 00:04:10,68,1,2160,...,0,0,0,0,0,0,0,0,0,0
55527,10607353,33dc82f5d7e2facb223e88a102e629700f8ef0f2157f0a...,fad8925cc9b13df0251c48f6ffe1e39c2f7dca981137bb...,COMPLETED,2022-11-30 23:53:32,2022-12-01 00:03:57,2022-12-01 00:09:08,68,1,2160,...,0,0,0,0,0,0,0,0,0,0
55528,10607361,43abd1d9979173615f736d15305a7df48894d4d81238a4...,d5fb134340f028d0a5c75c5d4aab6fd3ab081c81691c07...,COMPLETED,2022-11-30 23:55:41,2022-12-01 00:02:59,2022-12-01 00:03:28,256,4,2880,...,0,0,0,0,0,0,0,0,0,0
55529,10607364,198adb7cee4a179c48a896ae776be358cfb45d615c11df...,65c812caf3c7dd6c293c81a86410b39b41ab4e3b1c80e8...,COMPLETED,2022-11-30 23:57:15,2022-11-30 23:57:44,2022-11-30 23:59:54,48,1,30,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback35_anon_nov1_dec1.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
op_df.to_csv(filepath,index=False)

In [153]:
df_jul = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1July2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df_jul

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,9904495,5315c0d39d9b80958306da0d58d4c80f23511dbf320c59...,13f12669b2c1d64b36b4333e0df18511fec7136beb13a9...,COMPLETED,2022-07-01 00:01:52,2022-07-01 00:01:53,2022-07-01 04:23:47,256,8,360,0,360,3,22436,9298603,261,"c402-064,c403-031,c404-[121,131],c412-123,c416..."
1,9904499,8c8edaea40f116a07e9349440f28d10f95187ac2a5f369...,c3aa09d475334c5e5e3a12a5505f13da1f7ee6c4fce2b1...,COMPLETED,2022-07-01 00:02:17,2022-07-01 00:02:18,2022-07-02 16:56:53,208,16,2880,0,360,3,22436,9298603,2454,"c419-042,c420-[024,102],c421-013,c430-[012-013..."
2,9904501,8c8edaea40f116a07e9349440f28d10f95187ac2a5f369...,c3aa09d475334c5e5e3a12a5505f13da1f7ee6c4fce2b1...,COMPLETED,2022-07-01 00:02:20,2022-07-01 00:02:24,2022-07-01 21:52:10,208,16,2880,0,360,3,22436,9298603,1309,"c421-[073,081,093,104],c423-061,c428-133,c432-..."
3,9904502,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-01 00:03:14,2022-07-01 00:03:15,2022-07-01 00:36:28,48,1,120,0,360,3,22436,9298603,33,c403-084
4,9904503,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-01 00:03:15,2022-07-01 00:03:15,2022-07-01 00:31:31,48,1,120,0,360,3,22436,9298603,28,c413-042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67320,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906,23,c469-061
67321,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906,54,c469-011
67322,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906,38,c469-092
67323,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906,129,"c412-074,c422-113"
67324,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906,127,c403-[051-052]

In [154]:
from importlib import reload
reload(create_input_data)
lookback=35 #rows_discard=34
col_name="queue_minutes"
op_df_jul,rows_to_discard=create_input_data.optimised_add_past_k_obs_insert(lookback, df_jul,col_name)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34

In [155]:
op_df_jul

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,9904495,5315c0d39d9b80958306da0d58d4c80f23511dbf320c59...,13f12669b2c1d64b36b4333e0df18511fec7136beb13a9...,COMPLETED,2022-07-01 00:01:52,2022-07-01 00:01:53,2022-07-01 04:23:47,256,8,360,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1,9904499,8c8edaea40f116a07e9349440f28d10f95187ac2a5f369...,c3aa09d475334c5e5e3a12a5505f13da1f7ee6c4fce2b1...,COMPLETED,2022-07-01 00:02:17,2022-07-01 00:02:18,2022-07-02 16:56:53,208,16,2880,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
2,9904501,8c8edaea40f116a07e9349440f28d10f95187ac2a5f369...,c3aa09d475334c5e5e3a12a5505f13da1f7ee6c4fce2b1...,COMPLETED,2022-07-01 00:02:20,2022-07-01 00:02:24,2022-07-01 21:52:10,208,16,2880,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
3,9904502,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-01 00:03:14,2022-07-01 00:03:15,2022-07-01 00:36:28,48,1,120,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
4,9904503,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-01 00:03:15,2022-07-01 00:03:15,2022-07-01 00:31:31,48,1,120,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67320,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,0,0,0,0,0,0
67321,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,0,0,0,0,0,0
67322,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,0,0,0,0,0,0
67323,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,0,0,0,0,0
67324,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,0,0,0,0

In [156]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback35_anon_jul1_aug1.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
op_df_jul.to_csv(filepath,index=False)

In [6]:
df2 = create_input_data.add_past_k_obs_insert(past_k_obs=10, df=df,col_name="queue_minutes", original_col_off=17,col_obs_off=0)
df2

QM_LEN323216
c=0
c=1
c=2
c=3
c=4
c=5
c=6
c=7
c=8
c=9

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm1,qm2,qm3,qm4,qm5,qm6,qm7,qm8,qm9,qm10
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,0,0,0,0,0,4
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,0,0,0,0,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/anon_past_10_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df2.to_csv(filepath,index=False)

In [8]:
df3 = create_input_data.add_past_k_obs_insert(past_k_obs=25, df=df,col_name="queue_minutes", original_col_off=17,col_obs_off=10)
df3

QM_LEN323216
c=10
c=11
c=12
c=13
c=14
c=15
c=16
c=17
c=18
c=19
c=20
c=21
c=22
c=23
c=24

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm16,qm17,qm18,qm19,qm20,qm21,qm22,qm23,qm24,qm25
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,1,1,1,1,1,1,1,1,1
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,1,1,1,1,1,1,1,1
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,1,1,1,1,1,1,1
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,1,1,1,1,1,1
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,3,0,0,0,0,1,1,1,1,1

In [9]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/anon_past_25_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df3.to_csv(filepath,index=False)

In [10]:
df4 = create_input_data.add_past_k_obs_insert(past_k_obs=35, df=df,col_name="queue_minutes", original_col_off=17,col_obs_off=25)
df4

QM_LEN323216
c=25
c=26
c=27
c=28
c=29
c=30
c=31
c=32
c=33
c=34

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,1,1,0,0,0,0,0,0,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,1,1,1,0,0,0,0,0,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,1,1,1,1,0,0,0,0,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,1,1,1,1,1,0,0,0,0,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,1,1,1,1,1,1,0,0,0,0

In [11]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/anon_past_35_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df3.to_csv(filepath,index=False)

In [12]:
df5 = create_input_data.add_past_k_obs_insert(past_k_obs=50, df=df,col_name="queue_minutes", original_col_off=17,col_obs_off=35)
df5

QM_LEN323216
c=35
c=36
c=37
c=38
c=39
c=40
c=41
c=42
c=43
c=44
c=45
c=46
c=47
c=48
c=49

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm41,qm42,qm43,qm44,qm45,qm46,qm47,qm48,qm49,qm50
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,0,0,0,0,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/anon_past_50_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df5.to_csv(filepath,index=False)

In [14]:
df6 = create_input_data.add_past_k_obs_insert(past_k_obs=75, df=df,col_name="queue_minutes", original_col_off=17,col_obs_off=50)
df6

QM_LEN323216
c=50
c=51
c=52
c=53
c=54
c=55
c=56
c=57
c=58
c=59
c=60
c=61
c=62
c=63
c=64
c=65
c=66
c=67
c=68
c=69
c=70
c=71
c=72
c=73
c=74

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm66,qm67,qm68,qm69,qm70,qm71,qm72,qm73,qm74,qm75
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,0,0,0,0,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/anon_past_75_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df6.to_csv(filepath,index=False)

In [16]:
df6 = create_input_data.add_past_k_obs_insert(past_k_obs=100, df=df,col_name="queue_minutes", original_col_off=17,col_obs_off=75)
df6

QM_LEN323216
c=75
c=76
c=77
c=78
c=79
c=80
c=81
c=82
c=83
c=84
c=85
c=86
c=87
c=88
c=89
c=90
c=91
c=92
c=93
c=94
c=95
c=96
c=97

/home/jovyan/work/src/data/create_input_data.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(COLUMN_OFFSET+c,name,new)

c=98

/home/jovyan/work/src/data/create_input_data.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(COLUMN_OFFSET+c,name,new)

c=99

/home/jovyan/work/src/data/create_input_data.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(COLUMN_OFFSET+c,name,new)

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm91,qm92,qm93,qm94,qm95,qm96,qm97,qm98,qm99,qm100
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,0,0,0,0,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/anon_past_100_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df6.to_csv(filepath,index=False)

In [4]:
import sys
sys.path.append('/home/jovyan/work/')
sys.path.append('/home/jovyan/work/src')
sys.path.append('/home/jovyan/work/src/data')
sys.path.append('/home/jovyan/work/src/data_explore')
sys.path.append('/home/jovyan/work/src/features')
sys.path.append('/home/jovyan/work/src/models')
sys.path.append('/home/jovyan/work/src/analysis')

In [5]:
from src import data,data_explore,features
from data import create_input_data
from data_explore import explore_util
from features import build_features
from models import train_model,predict_model
from analysis import analyze_pred

In [91]:
#df_aug = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Aug2022_1Sept2022normal_sorted.csv", parse_dates_col=[4,5,6])
df_aug = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Feb2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df_aug

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377,1080,c442-022
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377,76,"c446-[062,111,122],c447-[061-063]"
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377,0,c403-034
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378,91,c438-021
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378,41,c403-034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906,23,c469-061
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906,54,c469-011
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906,38,c469-092
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906,129,"c412-074,c422-113"
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906,127,c403-[051-052]

In [92]:
reload(create_input_data)
reload(build_features)
#df_aug=build_features.slice_df(df_aug,0,2000)
#col_names=['user','account','state','reqcpus','nnodes','max_minutes','backlog_minutes','running_num_jobs','running_minutes','backlog_num_jobs','run_minutes','nodelist']
#df_aug=build_features.remove_cols(df_aug, col_names)

In [93]:
df_aug

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377,1080,c442-022
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377,76,"c446-[062,111,122],c447-[061-063]"
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377,0,c403-034
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378,91,c438-021
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378,41,c403-034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906,23,c469-061
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906,54,c469-011
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906,38,c469-092
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906,129,"c412-074,c422-113"
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906,127,c403-[051-052]

In [94]:
reload(create_input_data)
df1 = create_input_data.add_past_k_obs_insert(past_k_obs=10, df=df_aug,col_name="queue_minutes", original_col_off=17,col_obs_off=0)
df1

QM_LEN323216
------ column c=0
------ column c=1
------ column c=2
------ column c=3
------ column c=4
------ column c=5
------ column c=6
------ column c=7
------ column c=8
------ column c=9

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm1,qm2,qm3,qm4,qm5,qm6,qm7,qm8,qm9,qm10
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,4,4,4,3,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,4,4,4,3,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,4,4,4,3,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,4,4,4,3,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,4,4,4,3

In [96]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/correct_anon_past_10_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df1.to_csv(filepath,index=False)

In [100]:
from importlib import reload
reload(create_input_data)
create_input_data.add_past_k_obs_insert(past_k_obs=25, df=df1,col_name="queue_minutes", original_col_off=17,col_obs_off=10)

QM_LEN323216
------ column c=10
------ column c=11
------ column c=12
------ column c=13
------ column c=14
------ column c=15
------ column c=16
------ column c=17
------ column c=18
------ column c=19
------ column c=20
 start time at row (i): 32061  submit time at row (r): 32168
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:04:46
count_pbs: 21
queue minute added: 452
------ column c=21
 start time at row (i): 32060  submit time at row (r): 32168
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:04:46
count_pbs: 22
queue minute added: 452
 start time at row (i): 32061  submit time at row (r): 32169
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:06:29
count_pbs: 22
queue minute added: 452
 start time at row (i): 32061  submit time at row (r): 32170
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:16:46
count_pbs: 22
queue minute added: 452
------ column c=22
 start time at row (i): 32060  submit time at row (r): 32169
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:06:29
count_pbs: 23
queue minute added: 452
 start time at row (i): 32060  submit time at row (r): 32170
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:16:46
count_pbs: 23
queue minute added: 452
 start time at row (i): 32061  submit time at row (r): 32171
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:18:40
count_pbs: 23
queue minute added: 452
------ column c=23
 start time at row (i): 32060  submit time at row (r): 32171
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:18:40
count_pbs: 24
queue minute added: 452
------ column c=24

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm16,qm17,qm18,qm19,qm20,qm21,qm22,qm23,qm24,qm25
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,1,1,1,1,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,1,1,1,1,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,1,1,1,1,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,1,1,1,1,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,1,1,1,1

In [101]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/correct_anon_past_25_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df1.to_csv(filepath,index=False)

In [102]:
df1

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm16,qm17,qm18,qm19,qm20,qm21,qm22,qm23,qm24,qm25
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,1,1,1,1,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,1,1,1,1,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,1,1,1,1,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,1,1,1,1,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,1,1,1,1

In [103]:
df2=create_input_data.add_past_k_obs_insert(past_k_obs=35, df=df1,col_name="queue_minutes", original_col_off=17,col_obs_off=25)

QM_LEN323216
------ column c=25
 start time at row (i): 41291  submit time at row (r): 41403
start: 2022-03-05 14:24:01
submit: 2022-03-05 14:26:26
count_pbs: 26
queue minute added: 452
------ column c=26
 start time at row (i): 37140  submit time at row (r): 37210
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:25:58
count_pbs: 27
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37211
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:26:14
count_pbs: 27
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37212
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:26:25
count_pbs: 27
queue minute added: 452
------ column c=27
------ column c=28
 start time at row (i): 41291  submit time at row (r): 41404
start: 2022-03-05 14:24:01
submit: 2022-03-05 14:34:35
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57195
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:00:27
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57196
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:24
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57197
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:25
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57198
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:25
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57199
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:26
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57200
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:27
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57201
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:28
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57202
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:29
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57203
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:29
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57204
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:30
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57205
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:30
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57206
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:31
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57207
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:32
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57208
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:33
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57209
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:34
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57210
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:35
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57211
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:36
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57212
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:37
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57213
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:37
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57214
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:39
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57215
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:40
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57216
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:04:40
count_pbs: 29
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57217
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:10:49
count_pbs: 29
queue minute added: 452
------ column c=29
 start time at row (i): 32061  submit time at row (r): 32172
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:31:50
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37213
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:26:36
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37214
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:26:51
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37215
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:27:00
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37216
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:27:08
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37217
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:27:18
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37218
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:29:11
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37219
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:29:23
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37220
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:29:29
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37221
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:29:41
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37222
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:29:49
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37223
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:29:59
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37224
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:30:09
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37225
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:30:57
count_pbs: 30
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37226
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:31:36
count_pbs: 30
queue minute added: 452
------ column c=30
 start time at row (i): 32060  submit time at row (r): 32172
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:31:50
count_pbs: 31
queue minute added: 452
 start time at row (i): 32061  submit time at row (r): 32173
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:32:14
count_pbs: 31
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37227
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:31:58
count_pbs: 31
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37228
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:32:18
count_pbs: 31
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37229
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:32:33
count_pbs: 31
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57218
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:26:39
count_pbs: 31
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57219
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:33:10
count_pbs: 31
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57220
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:34:00
count_pbs: 31
queue minute added: 452
------ column c=31
 start time at row (i): 32060  submit time at row (r): 32173
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:32:14
count_pbs: 32
queue minute added: 452
 start time at row (i): 32061  submit time at row (r): 32174
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:34:17
count_pbs: 32
queue minute added: 452
 start time at row (i): 32061  submit time at row (r): 32175
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:34:39
count_pbs: 32
queue minute added: 452
 start time at row (i): 41291  submit time at row (r): 41405
start: 2022-03-05 14:24:01
submit: 2022-03-05 14:38:44
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57221
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:41:22
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57222
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:41:26
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57223
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:41:43
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57224
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:41:46
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57225
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:41:48
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57226
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:41:51
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57227
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:41:56
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57228
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:42:04
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57229
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:42:07
count_pbs: 32
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57230
start: 2022-03-14 02:56:18
submit: 2022-03-14 03:57:03
count_pbs: 32
queue minute added: 452
------ column c=32
 start time at row (i): 32060  submit time at row (r): 32174
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:34:17
count_pbs: 33
queue minute added: 452
 start time at row (i): 32060  submit time at row (r): 32175
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:34:39
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37230
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:32:51
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37231
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:33:06
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37232
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:33:19
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37233
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:33:33
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37234
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:33:44
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37235
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:33:59
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37236
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:34:06
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37237
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:34:15
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37238
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:34:21
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37239
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:34:33
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37240
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:34:45
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37241
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:34:54
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37242
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:35:01
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37243
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:36:54
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37244
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:37:06
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37245
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:37:33
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37246
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:37:49
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37247
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:38:00
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37248
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:38:10
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37249
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:38:23
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37250
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:38:40
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37251
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:39:06
count_pbs: 33
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37252
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:39:26
count_pbs: 33
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57231
start: 2022-03-14 02:56:18
submit: 2022-03-14 04:05:25
count_pbs: 33
queue minute added: 452
------ column c=33
 start time at row (i): 32061  submit time at row (r): 32176
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:35:37
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37253
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:39:38
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37254
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:39:51
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37255
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:40:10
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37256
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:40:31
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37257
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:40:56
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37258
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:41:19
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37259
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:41:39
count_pbs: 34
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37260
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:41:56
count_pbs: 34
queue minute added: 452
------ column c=34
 start time at row (i): 32060  submit time at row (r): 32176
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:35:37
count_pbs: 35
queue minute added: 452

In [104]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/correct_anon_past_35_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df2.to_csv(filepath,index=False)

In [6]:
df = create_input_data.read_data(csv_file_name="../data/processed/correct_anon_past_35_completed_qm.csv", parse_dates_col=[4,5,6])
df3=create_input_data.add_past_k_obs_insert(past_k_obs=50, df=df,col_name="queue_minutes", original_col_off=17,col_obs_off=35)
df3

QM_LEN323216
------ column c=35
 start time at row (i): 37140  submit time at row (r): 37261
start: 2022-03-02 10:35:42
submit: 2022-03-02 11:47:21
count_pbs: 36
queue minute added: 452
------ column c=36
------ column c=37
------ column c=38
 start time at row (i): 32061  submit time at row (r): 32177
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:40:30
count_pbs: 39
queue minute added: 452
------ column c=39
 start time at row (i): 32060  submit time at row (r): 32177
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:40:30
count_pbs: 40
queue minute added: 452
------ column c=40
------ column c=41
 start time at row (i): 37140  submit time at row (r): 37262
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:01:41
count_pbs: 42
queue minute added: 452
------ column c=42
------ column c=43
------ column c=44
 start time at row (i): 32061  submit time at row (r): 32178
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:49:51
count_pbs: 45
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37263
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:08
count_pbs: 45
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37264
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:13
count_pbs: 45
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37265
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:17
count_pbs: 45
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37266
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:23
count_pbs: 45
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37267
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:26
count_pbs: 45
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37268
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:31
count_pbs: 45
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37269
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:34
count_pbs: 45
queue minute added: 452
------ column c=45
 start time at row (i): 32060  submit time at row (r): 32178
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:49:51
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37270
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:37
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37271
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:41
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37272
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:45
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37273
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:51
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37274
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:55
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37275
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:11:59
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37276
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:03
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37277
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:08
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37278
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:11
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37279
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:14
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37280
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:18
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37281
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:23
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37282
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:27
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37283
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:31
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37284
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:34
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37285
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:37
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37286
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:41
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37287
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:44
count_pbs: 46
queue minute added: 452
 start time at row (i): 37140  submit time at row (r): 37288
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:12:48
count_pbs: 46
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57232
start: 2022-03-14 02:56:18
submit: 2022-03-14 04:27:27
count_pbs: 46
queue minute added: 452
------ column c=46
 start time at row (i): 32061  submit time at row (r): 32179
start: 2022-02-25 14:03:35
submit: 2022-02-25 14:52:47
count_pbs: 47
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57233
start: 2022-03-14 02:56:18
submit: 2022-03-14 04:27:58
count_pbs: 47
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57234
start: 2022-03-14 02:56:18
submit: 2022-03-14 04:28:29
count_pbs: 47
queue minute added: 452
 start time at row (i): 56962  submit time at row (r): 57235
start: 2022-03-14 02:56:18
submit: 2022-03-14 04:28:59
count_pbs: 47
queue minute added: 452
------ column c=47
 start time at row (i): 32060  submit time at row (r): 32179
start: 2022-02-25 14:03:01
submit: 2022-02-25 14:52:47
count_pbs: 48
queue minute added: 452
------ column c=48
 start time at row (i): 41291  submit time at row (r): 41406
start: 2022-03-05 14:24:01
submit: 2022-03-05 14:45:49
count_pbs: 49
queue minute added: 452
------ column c=49
 start time at row (i): 37140  submit time at row (r): 37289
start: 2022-03-02 10:35:42
submit: 2022-03-02 12:22:19
count_pbs: 50
queue minute added: 452

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm41,qm42,qm43,qm44,qm45,qm46,qm47,qm48,qm49,qm50
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,...,0,0,0,0,0,0,0,0,0,0
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,...,0,0,0,0,0,0,0,0,0,0
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,...,0,0,0,0,0,0,0,0,0,0
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,...,0,0,0,0,0,0,0,0,0,0
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,...,0,0,0,0,0,0,0,0,0,0
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,...,0,0,0,0,0,0,0,0,0,0
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/correct_anon_past_50_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df3.to_csv(filepath,index=False)

In [18]:
df_sept = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Aug2022_1Sept2022normal_sorted.csv", parse_dates_col=[4,5,6])
#df_aug = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Feb2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df_sept

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,10056839,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:34,2022-08-01 00:04:46,2022-08-01 00:43:43,48,1,120,1,898116,393,22918,9692906,38,c469-013
1,10056840,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:43:20,48,1,120,1,898236,394,22918,9692906,38,c469-122
2,10056841,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:48:53,48,1,120,1,898356,395,22918,9692906,44,c469-124
3,10056842,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:36,2022-08-01 00:04:47,2022-08-01 00:46:10,48,1,120,1,898476,396,22918,9692906,41,c469-102
4,10056843,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:37,2022-08-01 00:04:47,2022-08-01 00:42:33,48,1,120,1,898596,397,22918,9692906,37,c469-103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,10202512,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:33,2022-09-01 00:02:51,720,16,20,2,20560,12,23053,9791106,3,"c403-[073,093],c404-114,c405-[043,063,083,091]..."
69797,10202513,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,2,20580,13,23053,9791106,3,"c405-101,c406-[031,071,082,091],c409-[091,093]..."
69798,10202514,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:05,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,2,20600,14,23053,9791106,3,"c424-003,c427-132,c430-103,c431-084,c441-[012,..."
69799,10202515,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:06,2022-08-31 23:59:42,2022-09-01 00:03:00,720,16,20,2,20620,15,23053,9791106,3,"c406-024,c417-072,c425-132,c434-133,c435-064,c..."
69800,10202518,1de6066a413cc648a42769513f6172d497ca612c3e6c7a...,1d4712c264238a06f8d4af03724155dc82e877f41430eb...,COMPLETED,2022-08-31 23:58:42,2022-08-31 23:58:43,2022-09-01 00:00:54,64,1,600,0,20640,16,23053,9791106,2,c413-083

In [19]:
df_new_sept=create_input_data.add_past_k_obs_insert(past_k_obs=25, df=df_sept,col_name="queue_minutes", original_col_off=17,col_obs_off=0)
df_new_sept

QM_LEN69801
------ column c=0
------ column c=1
------ column c=2
------ column c=3
------ column c=4
------ column c=5
------ column c=6
------ column c=7
------ column c=8
------ column c=9
------ column c=10
------ column c=11
------ column c=12
------ column c=13
------ column c=14
------ column c=15
------ column c=16
------ column c=17
------ column c=18
------ column c=19
------ column c=20
------ column c=21
------ column c=22
------ column c=23
------ column c=24

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm16,qm17,qm18,qm19,qm20,qm21,qm22,qm23,qm24,qm25
0,10056839,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:34,2022-08-01 00:04:46,2022-08-01 00:43:43,48,1,120,...,0,0,0,0,0,0,0,0,0,0
1,10056840,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:43:20,48,1,120,...,0,0,0,0,0,0,0,0,0,0
2,10056841,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:48:53,48,1,120,...,0,0,0,0,0,0,0,0,0,0
3,10056842,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:36,2022-08-01 00:04:47,2022-08-01 00:46:10,48,1,120,...,0,0,0,0,0,0,0,0,0,0
4,10056843,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:37,2022-08-01 00:04:47,2022-08-01 00:42:33,48,1,120,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,10202512,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:33,2022-09-01 00:02:51,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69797,10202513,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69798,10202514,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:05,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69799,10202515,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:06,2022-08-31 23:59:42,2022-09-01 00:03:00,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69800,10202518,1de6066a413cc648a42769513f6172d497ca612c3e6c7a...,1d4712c264238a06f8d4af03724155dc82e877f41430eb...,COMPLETED,2022-08-31 23:58:42,2022-08-31 23:58:43,2022-09-01 00:00:54,64,1,600,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/correct_anon_aug_sept_past2022_25_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_new_sept.to_csv(filepath,index=False)

In [12]:
df_new_aug=create_input_data.add_past_k_obs_insert(past_k_obs=35, df=df_aug,col_name="queue_minutes", original_col_off=17,col_obs_off=0)
df_new_aug

QM_LEN69801
------ column c=0
------ column c=1
------ column c=2
------ column c=3
------ column c=4
------ column c=5
------ column c=6
------ column c=7
------ column c=8
------ column c=9
------ column c=10
------ column c=11
------ column c=12
------ column c=13
------ column c=14
------ column c=15
------ column c=16
------ column c=17
------ column c=18
------ column c=19
------ column c=20
------ column c=21
------ column c=22
------ column c=23
------ column c=24
------ column c=25
------ column c=26
------ column c=27
------ column c=28
------ column c=29
------ column c=30
------ column c=31
------ column c=32
------ column c=33
------ column c=34

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10056839,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:34,2022-08-01 00:04:46,2022-08-01 00:43:43,48,1,120,...,0,0,0,0,0,0,0,0,0,0
1,10056840,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:43:20,48,1,120,...,0,0,0,0,0,0,0,0,0,0
2,10056841,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:48:53,48,1,120,...,0,0,0,0,0,0,0,0,0,0
3,10056842,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:36,2022-08-01 00:04:47,2022-08-01 00:46:10,48,1,120,...,0,0,0,0,0,0,0,0,0,0
4,10056843,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:37,2022-08-01 00:04:47,2022-08-01 00:42:33,48,1,120,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,10202512,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:33,2022-09-01 00:02:51,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69797,10202513,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69798,10202514,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:05,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69799,10202515,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:06,2022-08-31 23:59:42,2022-09-01 00:03:00,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69800,10202518,1de6066a413cc648a42769513f6172d497ca612c3e6c7a...,1d4712c264238a06f8d4af03724155dc82e877f41430eb...,COMPLETED,2022-08-31 23:58:42,2022-08-31 23:58:43,2022-09-01 00:00:54,64,1,600,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/correct_anon_aug_sept_past2022_35_completed_qm.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_new_aug.to_csv(filepath,index=False)

In [16]:
df_new_aug

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10056839,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:34,2022-08-01 00:04:46,2022-08-01 00:43:43,48,1,120,...,0,0,0,0,0,0,0,0,0,0
1,10056840,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:43:20,48,1,120,...,0,0,0,0,0,0,0,0,0,0
2,10056841,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:48:53,48,1,120,...,0,0,0,0,0,0,0,0,0,0
3,10056842,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:36,2022-08-01 00:04:47,2022-08-01 00:46:10,48,1,120,...,0,0,0,0,0,0,0,0,0,0
4,10056843,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:37,2022-08-01 00:04:47,2022-08-01 00:42:33,48,1,120,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,10202512,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:33,2022-09-01 00:02:51,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69797,10202513,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69798,10202514,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:05,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69799,10202515,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:06,2022-08-31 23:59:42,2022-09-01 00:03:00,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69800,10202518,1de6066a413cc648a42769513f6172d497ca612c3e6c7a...,1d4712c264238a06f8d4af03724155dc82e877f41430eb...,COMPLETED,2022-08-31 23:58:42,2022-08-31 23:58:43,2022-09-01 00:00:54,64,1,600,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df_aug

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10056839,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:34,2022-08-01 00:04:46,2022-08-01 00:43:43,48,1,120,...,0,0,0,0,0,0,0,0,0,0
1,10056840,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:43:20,48,1,120,...,0,0,0,0,0,0,0,0,0,0
2,10056841,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:48:53,48,1,120,...,0,0,0,0,0,0,0,0,0,0
3,10056842,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:36,2022-08-01 00:04:47,2022-08-01 00:46:10,48,1,120,...,0,0,0,0,0,0,0,0,0,0
4,10056843,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:37,2022-08-01 00:04:47,2022-08-01 00:42:33,48,1,120,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,10202512,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:33,2022-09-01 00:02:51,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69797,10202513,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69798,10202514,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:05,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69799,10202515,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:06,2022-08-31 23:59:42,2022-09-01 00:03:00,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69800,10202518,1de6066a413cc648a42769513f6172d497ca612c3e6c7a...,1d4712c264238a06f8d4af03724155dc82e877f41430eb...,COMPLETED,2022-08-31 23:58:42,2022-08-31 23:58:43,2022-09-01 00:00:54,64,1,600,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_aug

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10056839,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:34,2022-08-01 00:04:46,2022-08-01 00:43:43,48,1,120,...,0,0,0,0,0,0,0,0,0,0
1,10056840,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:43:20,48,1,120,...,0,0,0,0,0,0,0,0,0,0
2,10056841,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:48:53,48,1,120,...,0,0,0,0,0,0,0,0,0,0
3,10056842,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:36,2022-08-01 00:04:47,2022-08-01 00:46:10,48,1,120,...,0,0,0,0,0,0,0,0,0,0
4,10056843,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:37,2022-08-01 00:04:47,2022-08-01 00:42:33,48,1,120,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,10202512,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:33,2022-09-01 00:02:51,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69797,10202513,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69798,10202514,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:05,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69799,10202515,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:06,2022-08-31 23:59:42,2022-09-01 00:03:00,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69800,10202518,1de6066a413cc648a42769513f6172d497ca612c3e6c7a...,1d4712c264238a06f8d4af03724155dc82e877f41430eb...,COMPLETED,2022-08-31 23:58:42,2022-08-31 23:58:43,2022-09-01 00:00:54,64,1,600,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df_aug

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,10056839,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:34,2022-08-01 00:04:46,2022-08-01 00:43:43,48,1,120,...,0,0,0,0,0,0,0,0,0,0
1,10056840,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:43:20,48,1,120,...,0,0,0,0,0,0,0,0,0,0
2,10056841,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:35,2022-08-01 00:04:47,2022-08-01 00:48:53,48,1,120,...,0,0,0,0,0,0,0,0,0,0
3,10056842,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:36,2022-08-01 00:04:47,2022-08-01 00:46:10,48,1,120,...,0,0,0,0,0,0,0,0,0,0
4,10056843,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-08-01 00:03:37,2022-08-01 00:04:47,2022-08-01 00:42:33,48,1,120,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,10202512,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:33,2022-09-01 00:02:51,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69797,10202513,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:02,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69798,10202514,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:05,2022-08-31 23:59:38,2022-09-01 00:02:53,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69799,10202515,350d51d0ac5acfacc4539962a6f1f3e3516dcc7f6d0bee...,c52ee554ca635b1e6ba534cdd5b178297dabd8904a9af2...,COMPLETED,2022-08-31 23:57:06,2022-08-31 23:59:42,2022-09-01 00:03:00,720,16,20,...,0,0,0,0,0,0,0,0,0,0
69800,10202518,1de6066a413cc648a42769513f6172d497ca612c3e6c7a...,1d4712c264238a06f8d4af03724155dc82e877f41430eb...,COMPLETED,2022-08-31 23:58:42,2022-08-31 23:58:43,2022-09-01 00:00:54,64,1,600,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df.shape[0]

323216

In [38]:
cnames = list(df)[0:5]
cnames

['jobid', 'user', 'account', 'state', 'submit']

In [39]:
lookbacklist=[]
for i in range(0,len(cnames)):
    lookbacklist.append([])

In [40]:
lookbacklist

[[], [], [], [], []]

In [42]:
for i in range(0,5):
    for k in range(0, len(cnames)):
        lookbacklist[k].append(df.at[i, cnames[k]])
lookbacklist

[[9084275, 9084279, 9084280, 9084291, 9084294],
 ['5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990f3626d7f50a5dfef6e',
  'b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9b184a9489802712f1f',
  'c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d2632ac7f79efd9f751',
  'db3b1cee65585e6744e72478a737eafaa23ce99e81344e701e7fa26a3cf05926',
  'bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9ee2128b6084cbbc4ef7'],
 ['38112a802292edea407a0678c9c75259cba6473c7acc62aba1370f7222d12c01',
  '9490a70089cec5b24a43f5f535efc92180fc5383256414fe438e91d932b34753',
  '3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283eca08f087df9e97dab',
  '118341ad5b87466ce69926005d0d6ba762bf86b8996da75c6c360ca40a29fbdb',
  '664af438b9c1ef9ba68a8105b0ce50f87b8bc4624860439b82e620a7eb6923a0'],
 ['COMPLETED', 'COMPLETED', 'COMPLETED', 'COMPLETED', 'COMPLETED'],
 [Timestamp('2022-02-01 00:10:00'),
  Timestamp('2022-02-01 00:11:44'),
  Timestamp('2022-02-01 00:12:27'),
  Timestamp('2022-02-01 00:16:45'),
  Timestamp('2022-02-01 00:17:49')]]

In [48]:
sub_df=df.iloc[0:10,0:15]

In [49]:
sub_df

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378
5,9084304,1e28cab4a3a687f56bb0f3b2f8dc0f45bcbdeb49fdfbce...,087aebc8ec790a00fc7a4a0735d7ea392900bb68eb0544...,COMPLETED,2022-02-01 00:18:35,2022-02-01 00:18:36,2022-02-01 01:13:43,16,1,2880,0,133980,143,20383,7955378
6,9084324,e5c772ae3fbea0da64f9bdeb5f3281c86d86a2e6e9fc2e...,c945fea09b546fddf8868bd6e4bb1052629e0124c720ea...,COMPLETED,2022-02-01 00:20:34,2022-02-01 00:20:34,2022-02-01 01:51:34,16,1,330,0,133910,142,20383,7955378
7,9084332,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:23:46,2022-02-01 04:55:24,2022-02-01 06:26:53,64,1,2880,271,133630,138,20383,7955378
8,9084347,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:31:31,2022-02-01 07:45:05,2022-02-01 10:53:40,78,6,600,433,135670,132,20383,7955378
9,9084355,9d1f4707e26788bd39631e292f7ee43181226069fd6d8f...,b32dfe83023e3e6fda4bc825c8a22e5154f62b235008ad...,COMPLETED,2022-02-01 00:33:19,2022-02-01 00:33:21,2022-02-01 00:35:07,1,1,240,0,136270,133,20383,7955378

In [121]:
sub_df = build_features.remove_cols(sub_df,['jobid','user','account','state'])

In [122]:
sub_df

,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes
0,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377
1,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377
2,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377
3,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378
4,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378
5,2022-02-01 00:18:35,2022-02-01 00:18:36,2022-02-01 01:13:43,16,1,2880,0,133980,143,20383,7955378
6,2022-02-01 00:20:34,2022-02-01 00:20:34,2022-02-01 01:51:34,16,1,330,0,133910,142,20383,7955378
7,2022-02-01 00:23:46,2022-02-01 04:55:24,2022-02-01 06:26:53,64,1,2880,271,133630,138,20383,7955378
8,2022-02-01 00:31:31,2022-02-01 07:45:05,2022-02-01 10:53:40,78,6,600,433,135670,132,20383,7955378
9,2022-02-01 00:33:19,2022-02-01 00:33:21,2022-02-01 00:35:07,1,1,240,0,136270,133,20383,7955378

In [73]:
from importlib import reload
reload(create_input_data)
lookback = 1
lstm_input, rows_to_discard = create_input_data.input_data_lstm(lookback, sub_df)

---- submit: 2022-02-01 00:11:44  row = 1
start: 2022-02-01 00:10:02
getting the column name:reqcpus value=1
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131060
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
count_lookback equals to lookback at row: 0
---- submit: 2022-02-01 00:12:27  row = 2
start: 2022-02-01 00:10:02
getting the column name:reqcpus value=1
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131060
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
count_lookback equals to lookback at row: 0
---- submit: 2022-02-01 00:16:45  row = 3
start: 2022-02-01 00:12:27
getting the column name:reqcpus value=68
getting the column name:nnodes value=1
getting the column name:max_minutes value=1
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131240
getting the column name:backlog_num_jobs value=144
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
count_lookback equals to lookback at row: 2
---- submit: 2022-02-01 00:17:49  row = 4
start: 2022-02-01 00:12:27
getting the column name:reqcpus value=68
getting the column name:nnodes value=1
getting the column name:max_minutes value=1
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131240
getting the column name:backlog_num_jobs value=144
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
count_lookback equals to lookback at row: 2
---- submit: 2022-02-01 00:18:35  row = 5
start: 2022-02-01 00:17:51
getting the column name:reqcpus value=64
getting the column name:nnodes value=1
getting the column name:max_minutes value=58
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 4
---- submit: 2022-02-01 00:20:34  row = 6
start: 2022-02-01 00:18:36
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 5
---- submit: 2022-02-01 00:23:46  row = 7
start: 2022-02-01 00:20:34
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=330
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133910
getting the column name:backlog_num_jobs value=142
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 6
---- submit: 2022-02-01 00:31:31  row = 8
start: 2022-02-01 00:20:34
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=330
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133910
getting the column name:backlog_num_jobs value=142
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 6
---- submit: 2022-02-01 00:33:19  row = 9
start: 2022-02-01 00:20:34
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=330
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133910
getting the column name:backlog_num_jobs value=142
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 6

In [74]:
rows_to_discard

0

In [78]:
import numpy as np
lstm_array = np.array(lstm_input)
lstm_array.shape

(9, 8, 1)

In [79]:
lstm_array

array([[[      1],
        [      1],
        [   2880],
        [      0],
        [ 131060],
        [    143],
        [  20382],
        [7955377]],

       [[      1],
        [      1],
        [   2880],
        [      0],
        [ 131060],
        [    143],
        [  20382],
        [7955377]],

       [[     68],
        [      1],
        [      1],
        [      0],
        [ 131240],
        [    144],
        [  20382],
        [7955377]],

       [[     68],
        [      1],
        [      1],
        [      0],
        [ 131240],
        [    144],
        [  20382],
        [7955377]],

       [[     64],
        [      1],
        [     58],
        [      0],
        [ 133980],
        [    143],
        [  20383],
        [7955378]],

       [[     16],
        [      1],
        [   2880],
        [      0],
        [ 133980],
        [    143],
        [  20383],
        [7955378]],

       [[     16],
        [      1],
        [    330],
        [      0],
        [ 133910],
        [    142],
        [  20383],
        [7955378]],

       [[     16],
        [      1],
        [    330],
        [      0],
        [ 133910],
        [    142],
        [  20383],
        [7955378]],

       [[     16],
        [      1],
        [    330],
        [      0],
        [ 133910],
        [    142],
        [  20383],
        [7955378]]])

In [80]:
lstm_array[0]

array([[      1],
       [      1],
       [   2880],
       [      0],
       [ 131060],
       [    143],
       [  20382],
       [7955377]])

In [86]:
x=lstm_array[0]
x

array([[      1],
       [      1],
       [   2880],
       [      0],
       [ 131060],
       [    143],
       [  20382],
       [7955377]])

In [81]:
lstm_array[0].shape

(8, 1)

In [83]:
lstm_array[0].T.shape

(1, 8)

In [84]:
lstm_array[0].T

array([[      1,       1,    2880,       0,  131060,     143,   20382,
        7955377]])

In [89]:
y = np.swapaxes(x,0,1)

In [90]:
y.shape

(1, 8)

In [93]:
transformed_lstm = np.swapaxes(lstm_array,1,2)
transformed_lstm

array([[[      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]],

       [[      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]],

       [[     68,       1,       1,       0,  131240,     144,   20382,
         7955377]],

       [[     68,       1,       1,       0,  131240,     144,   20382,
         7955377]],

       [[     64,       1,      58,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,    2880,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378]]])

In [94]:
transformed_lstm.shape

(9, 1, 8)

In [95]:
from importlib import reload
reload(create_input_data)
lookback = 2
lstm_input2, rows_to_discard = create_input_data.input_data_lstm(lookback, sub_df)

---- submit: 2022-02-01 00:12:27  row = 2
start: 2022-02-01 00:10:02
getting the column name:reqcpus value=1
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131060
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
loopback count never equals to  lookback. so do not consider the row 2
---- submit: 2022-02-01 00:16:45  row = 3
start: 2022-02-01 00:12:27
getting the column name:reqcpus value=68
getting the column name:nnodes value=1
getting the column name:max_minutes value=1
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131240
getting the column name:backlog_num_jobs value=144
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
start: 2022-02-01 00:10:02
getting the column name:reqcpus value=1
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131060
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
count_lookback equals to lookback at row: 0
---- submit: 2022-02-01 00:17:49  row = 4
start: 2022-02-01 00:12:27
getting the column name:reqcpus value=68
getting the column name:nnodes value=1
getting the column name:max_minutes value=1
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131240
getting the column name:backlog_num_jobs value=144
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
start: 2022-02-01 00:10:02
getting the column name:reqcpus value=1
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131060
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
count_lookback equals to lookback at row: 0
---- submit: 2022-02-01 00:18:35  row = 5
start: 2022-02-01 00:17:51
getting the column name:reqcpus value=64
getting the column name:nnodes value=1
getting the column name:max_minutes value=58
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
start: 2022-02-01 00:12:27
getting the column name:reqcpus value=68
getting the column name:nnodes value=1
getting the column name:max_minutes value=1
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=131240
getting the column name:backlog_num_jobs value=144
getting the column name:running_num_jobs value=20382
getting the column name:running_minutes value=7955377
count_lookback equals to lookback at row: 2
---- submit: 2022-02-01 00:20:34  row = 6
start: 2022-02-01 00:18:36
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
start: 2022-02-01 00:17:51
getting the column name:reqcpus value=64
getting the column name:nnodes value=1
getting the column name:max_minutes value=58
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 4
---- submit: 2022-02-01 00:23:46  row = 7
start: 2022-02-01 00:20:34
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=330
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133910
getting the column name:backlog_num_jobs value=142
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
start: 2022-02-01 00:18:36
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 5
---- submit: 2022-02-01 00:31:31  row = 8
start: 2022-02-01 00:20:34
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=330
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133910
getting the column name:backlog_num_jobs value=142
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
start: 2022-02-01 00:18:36
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 5
---- submit: 2022-02-01 00:33:19  row = 9
start: 2022-02-01 00:20:34
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=330
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133910
getting the column name:backlog_num_jobs value=142
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
start: 2022-02-01 00:18:36
getting the column name:reqcpus value=16
getting the column name:nnodes value=1
getting the column name:max_minutes value=2880
getting the column name:queue_minutes value=0
getting the column name:backlog_minutes value=133980
getting the column name:backlog_num_jobs value=143
getting the column name:running_num_jobs value=20383
getting the column name:running_minutes value=7955378
count_lookback equals to lookback at row: 5

In [97]:
lstm_input2_arr = np.array(lstm_input2)
lstm_input2_arr.shape

(7, 8, 2)

In [98]:
rows_to_discard

2

In [99]:
lstm_input2_arr

array([[[     68,       1],
        [      1,       1],
        [      1,    2880],
        [      0,       0],
        [ 131240,  131060],
        [    144,     143],
        [  20382,   20382],
        [7955377, 7955377]],

       [[     68,       1],
        [      1,       1],
        [      1,    2880],
        [      0,       0],
        [ 131240,  131060],
        [    144,     143],
        [  20382,   20382],
        [7955377, 7955377]],

       [[     64,      68],
        [      1,       1],
        [     58,       1],
        [      0,       0],
        [ 133980,  131240],
        [    143,     144],
        [  20383,   20382],
        [7955378, 7955377]],

       [[     16,      64],
        [      1,       1],
        [   2880,      58],
        [      0,       0],
        [ 133980,  133980],
        [    143,     143],
        [  20383,   20383],
        [7955378, 7955378]],

       [[     16,      16],
        [      1,       1],
        [    330,    2880],
        [      0,       0],
        [ 133910,  133980],
        [    142,     143],
        [  20383,   20383],
        [7955378, 7955378]],

       [[     16,      16],
        [      1,       1],
        [    330,    2880],
        [      0,       0],
        [ 133910,  133980],
        [    142,     143],
        [  20383,   20383],
        [7955378, 7955378]],

       [[     16,      16],
        [      1,       1],
        [    330,    2880],
        [      0,       0],
        [ 133910,  133980],
        [    142,     143],
        [  20383,   20383],
        [7955378, 7955378]]])

In [100]:
transformed_lstm_2 = np.swapaxes(lstm_input2_arr,1,2)
transformed_lstm_2

array([[[     68,       1,       1,       0,  131240,     144,   20382,
         7955377],
        [      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]],

       [[     68,       1,       1,       0,  131240,     144,   20382,
         7955377],
        [      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]],

       [[     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377]],

       [[     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378]]])

In [101]:
transformed_lstm_2.shape

(7, 2, 8)

In [102]:
from importlib import reload
reload(create_input_data)
lookback = 3
lstm_input3, rows_to_discard = create_input_data.input_data_lstm(lookback, sub_df)

---- submit: 2022-02-01 00:16:45  row = 3
start: 2022-02-01 00:12:27
start: 2022-02-01 00:10:02
*** loopback count never equals to  lookback. so do not consider the row 3
---- submit: 2022-02-01 00:17:49  row = 4
start: 2022-02-01 00:12:27
start: 2022-02-01 00:10:02
*** loopback count never equals to  lookback. so do not consider the row 4
---- submit: 2022-02-01 00:18:35  row = 5
start: 2022-02-01 00:17:51
start: 2022-02-01 00:12:27
start: 2022-02-01 00:10:02
count_lookback equals to lookback at row: 0
---- submit: 2022-02-01 00:20:34  row = 6
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
start: 2022-02-01 00:12:27
count_lookback equals to lookback at row: 2
---- submit: 2022-02-01 00:23:46  row = 7
start: 2022-02-01 00:20:34
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
count_lookback equals to lookback at row: 4
---- submit: 2022-02-01 00:31:31  row = 8
start: 2022-02-01 00:20:34
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
count_lookback equals to lookback at row: 4
---- submit: 2022-02-01 00:33:19  row = 9
start: 2022-02-01 00:20:34
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
count_lookback equals to lookback at row: 4

In [103]:
rows_to_discard

4

In [104]:
lstm_input3

array([[[     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377],
        [      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]],

       [[     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378]]])

In [105]:
lstm_input3.shape

(5, 3, 8)

In [106]:
lookback = 4
lstm_input4, rows_to_discard = create_input_data.input_data_lstm(lookback, sub_df)

---- submit: 2022-02-01 00:17:49  row = 4
start: 2022-02-01 00:12:27
start: 2022-02-01 00:10:02
*** loopback count never equals to  lookback. so do not consider the row 4
---- submit: 2022-02-01 00:18:35  row = 5
start: 2022-02-01 00:17:51
start: 2022-02-01 00:12:27
start: 2022-02-01 00:10:02
*** loopback count never equals to  lookback. so do not consider the row 5
---- submit: 2022-02-01 00:20:34  row = 6
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
start: 2022-02-01 00:12:27
start: 2022-02-01 00:10:02
count_lookback equals to lookback at row: 0
---- submit: 2022-02-01 00:23:46  row = 7
start: 2022-02-01 00:20:34
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
start: 2022-02-01 00:12:27
count_lookback equals to lookback at row: 2
---- submit: 2022-02-01 00:31:31  row = 8
start: 2022-02-01 00:20:34
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
start: 2022-02-01 00:12:27
count_lookback equals to lookback at row: 2
---- submit: 2022-02-01 00:33:19  row = 9
start: 2022-02-01 00:20:34
start: 2022-02-01 00:18:36
start: 2022-02-01 00:17:51
start: 2022-02-01 00:12:27
count_lookback equals to lookback at row: 2

In [107]:
lstm_input4.shape

(4, 4, 8)

In [108]:
rows_to_discard

5

In [110]:
from importlib import reload
reload(create_input_data)
lookback = 5
lstm_input5, rows_to_discard5 = create_input_data.input_data_lstm(lookback, sub_df)

*** loopback count never equals to  lookback. so do not consider the row 5
*** loopback count never equals to  lookback. so do not consider the row 6

In [111]:
lstm_input5.shape

(3, 5, 8)

In [112]:
df.shape

(323216, 67)

In [115]:
df = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Feb2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377,1080,c442-022
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377,76,"c446-[062,111,122],c447-[061-063]"
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377,0,c403-034
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378,91,c438-021
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378,41,c403-034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906,23,c469-061
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906,54,c469-011
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906,38,c469-092
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906,129,"c412-074,c422-113"
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906,127,c403-[051-052]

In [117]:
lstm_df = build_features.remove_cols(df,['jobid','user','account','state','run_minutes','nodelist'])

In [119]:
lstm_df

,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes
0,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377
1,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377
2,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377
3,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378
4,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378
...,...,...,...,...,...,...,...,...,...,...,...
323211,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906
323212,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906
323213,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906
323214,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906
323215,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906

In [123]:
lookback = 5
lstm_inputall5, rows_to_discard5 = create_input_data.input_data_lstm(lookback, lstm_df)

*** loopback count never equals to  lookback. so do not consider the row 5
*** loopback count never equals to  lookback. so do not consider the row 6

In [124]:
lstm_inputall5.shape

(323209, 5, 8)

In [125]:
rows_to_discard5

6

In [126]:
lstm_inputall5[0:1,]

array([[[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377],
        [      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]]])

In [127]:
lookback = 10
lstm_inputall10, rows_to_discard10 = create_input_data.input_data_lstm(lookback, lstm_df)

*** loopback count never equals to  lookback. so do not consider the row 10
*** loopback count never equals to  lookback. so do not consider the row 11
*** loopback count never equals to  lookback. so do not consider the row 12
*** loopback count never equals to  lookback. so do not consider the row 13

In [128]:
lstm_inputall10.shape

(323202, 10, 8)

In [129]:
lstm_inputall10[0:2,]

array([[[      1,       1,     240,       0,  136270,     133,   20383,
         7955378],
        [      1,       1,     120,       0,  136390,     134,   20383,
         7955378],
        [      1,       1,    2880,       0,  136390,     134,   20383,
         7955378],
        [     50,       1,     120,       2,  136270,     133,   20383,
         7955378],
        [      1,       1,     240,       0,  136270,     133,   20383,
         7955378],
        [     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377],
        [      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]],

       [[      1,       1,     240,       0,  136270,     133,   20383,
         7955378],
        [      1,       1,     120,       0,  136390,     134,   20383,
         7955378],
        [      1,       1,    2880,       0,  136390,     134,   20383,
         7955378],
        [     50,       1,     120,       2,  136270,     133,   20383,
         7955378],
        [      1,       1,     240,       0,  136270,     133,   20383,
         7955378],
        [     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377],
        [      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]]])

In [130]:
rows_to_discard10

13

In [132]:
lstm_input3.shape

(5, 3, 8)

In [134]:
import numpy as np

# Write the array to disk
with open('test_lstm_input3.txt', 'w') as outfile:
    # I'm writing a header here just for the sake of readability
    # Any line starting with "#" will be ignored by numpy.loadtxt
    outfile.write('# Array shape: {0}\n'.format(lstm_input3.shape))
    
    # Iterating through a ndimensional array produces slices along
    # the last axis. This is equivalent to data[i,:,:] in this case
    for data_slice in lstm_input3:

        # The formatting string indicates that I'm writing out
        # the values in left-justified columns 7 characters in width
        # with 2 decimal places.  
        np.savetxt(outfile, data_slice, fmt='%-7.2f')

        # Writing out a break to indicate different slices...
        outfile.write('# New slice\n')

In [136]:
# Read the array from disk
new_data = np.loadtxt('test_lstm_input3.txt')

# Note that this returned a 2D array!
print(new_data.shape)

# However, going back to 3D is easy if we know the 
# original shape of the array
new_data = new_data.reshape((5, 3, 8))
    
# Just to check that they're the same...
assert np.all(new_data == lstm_input3)

(15, 8)

In [137]:
new_data.shape

(5, 3, 8)

In [139]:
lstm_input3

array([[[     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377],
        [      1,       1,    2880,       0,  131060,     143,   20382,
         7955377]],

       [[     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378],
        [     68,       1,       1,       0,  131240,     144,   20382,
         7955377]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378]],

       [[     16,       1,     330,       0,  133910,     142,   20383,
         7955378],
        [     16,       1,    2880,       0,  133980,     143,   20383,
         7955378],
        [     64,       1,      58,       0,  133980,     143,   20383,
         7955378]]])

In [138]:
new_data

array([[[6.400000e+01, 1.000000e+00, 5.800000e+01, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06],
        [6.800000e+01, 1.000000e+00, 1.000000e+00, 0.000000e+00,
         1.312400e+05, 1.440000e+02, 2.038200e+04, 7.955377e+06],
        [1.000000e+00, 1.000000e+00, 2.880000e+03, 0.000000e+00,
         1.310600e+05, 1.430000e+02, 2.038200e+04, 7.955377e+06]],

       [[1.600000e+01, 1.000000e+00, 2.880000e+03, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06],
        [6.400000e+01, 1.000000e+00, 5.800000e+01, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06],
        [6.800000e+01, 1.000000e+00, 1.000000e+00, 0.000000e+00,
         1.312400e+05, 1.440000e+02, 2.038200e+04, 7.955377e+06]],

       [[1.600000e+01, 1.000000e+00, 3.300000e+02, 0.000000e+00,
         1.339100e+05, 1.420000e+02, 2.038300e+04, 7.955378e+06],
        [1.600000e+01, 1.000000e+00, 2.880000e+03, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06],
        [6.400000e+01, 1.000000e+00, 5.800000e+01, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06]],

       [[1.600000e+01, 1.000000e+00, 3.300000e+02, 0.000000e+00,
         1.339100e+05, 1.420000e+02, 2.038300e+04, 7.955378e+06],
        [1.600000e+01, 1.000000e+00, 2.880000e+03, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06],
        [6.400000e+01, 1.000000e+00, 5.800000e+01, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06]],

       [[1.600000e+01, 1.000000e+00, 3.300000e+02, 0.000000e+00,
         1.339100e+05, 1.420000e+02, 2.038300e+04, 7.955378e+06],
        [1.600000e+01, 1.000000e+00, 2.880000e+03, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06],
        [6.400000e+01, 1.000000e+00, 5.800000e+01, 0.000000e+00,
         1.339800e+05, 1.430000e+02, 2.038300e+04, 7.955378e+06]]])

In [37]:
df_feb_1aug2022 = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Feb2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df_feb_1aug2022

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377,1080,c442-022
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377,76,"c446-[062,111,122],c447-[061-063]"
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377,0,c403-034
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378,91,c438-021
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378,41,c403-034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906,23,c469-061
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906,54,c469-011
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906,38,c469-092
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906,129,"c412-074,c422-113"
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906,127,c403-[051-052]

In [38]:
from importlib import reload
reload(create_input_data)
opt_df=build_features.remove_cols(df_feb_1aug2022,['jobid','end','account','state','user','reqcpus','nodelist'])
opt_df

,submit,start,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes
0,2022-02-01 00:10:00,2022-02-01 00:10:02,1,2880,0,131060,143,20382,7955377,1080
1,2022-02-01 00:11:44,2022-02-01 07:44:39,6,180,452,131060,143,20382,7955377,76
2,2022-02-01 00:12:27,2022-02-01 00:12:27,1,1,0,131240,144,20382,7955377,0
3,2022-02-01 00:16:45,2022-02-01 04:43:31,1,2880,266,131100,142,20383,7955378,91
4,2022-02-01 00:17:49,2022-02-01 00:17:51,1,58,0,133980,143,20383,7955378,41
...,...,...,...,...,...,...,...,...,...,...
323211,2022-07-31 23:58:21,2022-08-01 00:02:54,1,120,4,898116,394,22918,9692906,23
323212,2022-07-31 23:58:22,2022-08-01 00:03:31,1,120,5,898236,395,22918,9692906,54
323213,2022-07-31 23:58:22,2022-08-01 00:03:31,1,120,5,898356,396,22918,9692906,38
323214,2022-07-31 23:58:28,2022-08-01 03:57:32,2,180,239,898356,396,22918,9692906,129
323215,2022-07-31 23:59:09,2022-08-01 04:03:54,2,180,244,898416,396,22918,9692906,127

In [5]:
def get_jobs_in_range(dfq,start,end):
    df1=dfq.query('submit >= @start and submit < @end')
    return df1

In [40]:
df_mar = get_jobs_in_range(opt_df,"2022-03-01", "2022-04-02")
df_mar

,submit,start,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes
36043,2022-03-01 00:01:56,2022-03-01 00:01:57,1,15,0,381027,234,20786,8077218,0
36044,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381027,234,20786,8077218,0
36045,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381042,235,20786,8077218,0
36046,2022-03-01 00:01:58,2022-03-01 00:02:02,1,15,0,381057,236,20786,8077218,0
36047,2022-03-01 00:01:59,2022-03-01 00:02:02,1,15,0,381072,237,20786,8077218,0
...,...,...,...,...,...,...,...,...,...,...
82874,2022-04-01 23:40:41,2022-04-01 23:40:42,1,360,0,4620,36,20889,8099526,28
82875,2022-04-01 23:48:18,2022-04-01 23:48:19,5,720,0,4620,36,20889,8099526,15
82876,2022-04-01 23:48:55,2022-04-01 23:48:58,5,720,0,4620,36,20889,8099526,11
82877,2022-04-01 23:49:09,2022-04-01 23:49:09,5,720,0,4620,36,20889,8099526,17
82878,2022-04-01 23:49:27,2022-04-01 23:49:28,5,720,0,4620,36,20889,8099526,12

In [41]:
df_mar_reset=df_mar.reset_index()
df_mar_reset

,index,submit,start,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes
0,36043,2022-03-01 00:01:56,2022-03-01 00:01:57,1,15,0,381027,234,20786,8077218,0
1,36044,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381027,234,20786,8077218,0
2,36045,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381042,235,20786,8077218,0
3,36046,2022-03-01 00:01:58,2022-03-01 00:02:02,1,15,0,381057,236,20786,8077218,0
4,36047,2022-03-01 00:01:59,2022-03-01 00:02:02,1,15,0,381072,237,20786,8077218,0
...,...,...,...,...,...,...,...,...,...,...,...
46831,82874,2022-04-01 23:40:41,2022-04-01 23:40:42,1,360,0,4620,36,20889,8099526,28
46832,82875,2022-04-01 23:48:18,2022-04-01 23:48:19,5,720,0,4620,36,20889,8099526,15
46833,82876,2022-04-01 23:48:55,2022-04-01 23:48:58,5,720,0,4620,36,20889,8099526,11
46834,82877,2022-04-01 23:49:09,2022-04-01 23:49:09,5,720,0,4620,36,20889,8099526,17
46835,82878,2022-04-01 23:49:27,2022-04-01 23:49:28,5,720,0,4620,36,20889,8099526,12

In [42]:
from importlib import reload
reload(create_input_data)
lookback=5
col_name="queue_minutes"
vars=["nnodes",	"max_minutes","backlog_minutes","backlog_num_jobs","running_num_jobs","running_minutes"]

#df_mar_31,rows_to_discard=create_input_data.optimised_add_age_past_k_obs_insert(lookback, df_mar_reset,col_name)
df_lookback5,rows_to_discard=create_input_data.window_k_obs_all_vars_insert(lookback, df_mar_reset,col_name,vars)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8

In [43]:
df_lookback5

,index,submit,start,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,...,running_minutes4,delta_t4,qm5,nnodes5,max_minutes5,backlog_minutes5,backlog_num_jobs5,running_num_jobs5,running_minutes5,delta_t5
0,36043,2022-03-01 00:01:56,2022-03-01 00:01:57,1,15,0,381027,234,20786,8077218,...,-200,0.000000,-200,-200,-200,-200,-200,-200,-200,0.000000
1,36044,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381027,234,20786,8077218,...,-200,0.000000,-200,-200,-200,-200,-200,-200,-200,0.000000
2,36045,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381042,235,20786,8077218,...,-200,0.000000,-200,-200,-200,-200,-200,-200,-200,0.000000
3,36046,2022-03-01 00:01:58,2022-03-01 00:02:02,1,15,0,381057,236,20786,8077218,...,-200,0.000000,-200,-200,-200,-200,-200,-200,-200,0.000000
4,36047,2022-03-01 00:01:59,2022-03-01 00:02:02,1,15,0,381072,237,20786,8077218,...,-200,0.000000,-200,-200,-200,-200,-200,-200,-200,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46831,82874,2022-04-01 23:40:41,2022-04-01 23:40:42,1,360,0,4620,36,20889,8099526,...,8098806,3.050000,0,4,2880,4620,36,20888,8098806,8.083333
46832,82875,2022-04-01 23:48:18,2022-04-01 23:48:19,5,720,0,4620,36,20889,8099526,...,8098806,10.450000,0,3,720,4620,36,20888,8098806,10.666667
46833,82876,2022-04-01 23:48:55,2022-04-01 23:48:58,5,720,0,4620,36,20889,8099526,...,8099526,9.850000,0,3,720,4620,36,20888,8098806,11.066667
46834,82877,2022-04-01 23:49:09,2022-04-01 23:49:09,5,720,0,4620,36,20889,8099526,...,8099526,9.066667,0,1,119,4620,36,20889,8099526,10.083333
46835,82878,2022-04-01 23:49:27,2022-04-01 23:49:28,5,720,0,4620,36,20889,8099526,...,8099526,8.766667,0,4,120,4620,36,20889,8099526,9.366667

In [44]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback5_sw_mar31.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_lookback5.to_csv(filepath,index=False)

In [45]:
### Get the data for March,April,May
### Remove some columns
df_feb_1aug2022 = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Feb2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
df_feb_1aug2022

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes,nodelist
0,9084275,5a1c85eb8bc9d4da20ce12b96ecc7bb9d79d3ef991e990...,38112a802292edea407a0678c9c75259cba6473c7acc62...,COMPLETED,2022-02-01 00:10:00,2022-02-01 00:10:02,2022-02-01 18:10:39,1,1,2880,0,131060,143,20382,7955377,1080,c442-022
1,9084279,b4b4df9343fe9f7110ec15863fb5df13fbd20268383ba9...,9490a70089cec5b24a43f5f535efc92180fc5383256414...,COMPLETED,2022-02-01 00:11:44,2022-02-01 07:44:39,2022-02-01 09:00:46,78,6,180,452,131060,143,20382,7955377,76,"c446-[062,111,122],c447-[061-063]"
2,9084280,c593da51b38e5fd95cb891ec53a4b70c41ca189bf4b92d...,3a61323a47592f74d9ca0004a066b2019b8fc1d4c53283...,COMPLETED,2022-02-01 00:12:27,2022-02-01 00:12:27,2022-02-01 00:12:39,68,1,1,0,131240,144,20382,7955377,0,c403-034
3,9084291,db3b1cee65585e6744e72478a737eafaa23ce99e81344e...,118341ad5b87466ce69926005d0d6ba762bf86b8996da7...,COMPLETED,2022-02-01 00:16:45,2022-02-01 04:43:31,2022-02-01 06:15:04,64,1,2880,266,131100,142,20383,7955378,91,c438-021
4,9084294,bb3cdc72e4a6895d67d00ccd3c9cf0f65bdc59f32dfa9e...,664af438b9c1ef9ba68a8105b0ce50f87b8bc462486043...,COMPLETED,2022-02-01 00:17:49,2022-02-01 00:17:51,2022-02-01 00:58:55,64,1,58,0,133980,143,20383,7955378,41,c403-034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323211,10056827,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:21,2022-08-01 00:02:54,2022-08-01 00:26:35,48,1,120,4,898116,394,22918,9692906,23,c469-061
323212,10056828,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:58:18,48,1,120,5,898236,395,22918,9692906,54,c469-011
323213,10056829,4a4f2198bac2558f9e5a8c5eb68e7ba4a163c55ce93e37...,fa2629c2b0c98b9f3d8366895b45442f1f33b51ef9f075...,COMPLETED,2022-07-31 23:58:22,2022-08-01 00:03:31,2022-08-01 00:41:48,48,1,120,5,898356,396,22918,9692906,38,c469-092
323214,10056831,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:58:28,2022-08-01 03:57:32,2022-08-01 06:07:16,100,2,180,239,898356,396,22918,9692906,129,"c412-074,c422-113"
323215,10056833,4c6876a9c556f9039eb938f387f82f71400b3eafa372b2...,140bedbf9c3f6d56a9846d2ba7088798683f4da0c24823...,COMPLETED,2022-07-31 23:59:09,2022-08-01 04:03:54,2022-08-01 06:11:04,100,2,180,244,898416,396,22918,9692906,127,c403-[051-052]

In [46]:
from importlib import reload
reload(create_input_data)
opt_df=build_features.remove_cols(df_feb_1aug2022,['jobid','end','account','state','user','reqcpus','nodelist'])
opt_df

,submit,start,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes
0,2022-02-01 00:10:00,2022-02-01 00:10:02,1,2880,0,131060,143,20382,7955377,1080
1,2022-02-01 00:11:44,2022-02-01 07:44:39,6,180,452,131060,143,20382,7955377,76
2,2022-02-01 00:12:27,2022-02-01 00:12:27,1,1,0,131240,144,20382,7955377,0
3,2022-02-01 00:16:45,2022-02-01 04:43:31,1,2880,266,131100,142,20383,7955378,91
4,2022-02-01 00:17:49,2022-02-01 00:17:51,1,58,0,133980,143,20383,7955378,41
...,...,...,...,...,...,...,...,...,...,...
323211,2022-07-31 23:58:21,2022-08-01 00:02:54,1,120,4,898116,394,22918,9692906,23
323212,2022-07-31 23:58:22,2022-08-01 00:03:31,1,120,5,898236,395,22918,9692906,54
323213,2022-07-31 23:58:22,2022-08-01 00:03:31,1,120,5,898356,396,22918,9692906,38
323214,2022-07-31 23:58:28,2022-08-01 03:57:32,2,180,239,898356,396,22918,9692906,129
323215,2022-07-31 23:59:09,2022-08-01 04:03:54,2,180,244,898416,396,22918,9692906,127

In [48]:
df_mar_may = get_jobs_in_range(opt_df,"2022-03-01", "2022-06-01")
df_mar_may

,submit,start,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes
36043,2022-03-01 00:01:56,2022-03-01 00:01:57,1,15,0,381027,234,20786,8077218,0
36044,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381027,234,20786,8077218,0
36045,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381042,235,20786,8077218,0
36046,2022-03-01 00:01:58,2022-03-01 00:02:02,1,15,0,381057,236,20786,8077218,0
36047,2022-03-01 00:01:59,2022-03-01 00:02:02,1,15,0,381072,237,20786,8077218,0
...,...,...,...,...,...,...,...,...,...,...
198855,2022-05-31 23:47:46,2022-06-01 01:02:47,6,360,75,181335,103,22090,9084867,122
198856,2022-05-31 23:49:38,2022-06-01 01:03:11,1,2600,73,181695,104,22090,9084867,2593
198857,2022-05-31 23:50:04,2022-05-31 23:57:46,6,1200,7,184295,105,22090,9084867,0
198858,2022-05-31 23:50:04,2022-06-01 01:03:11,1,2600,73,185495,106,22090,9084867,2587
198859,2022-05-31 23:55:22,2022-06-01 01:03:18,2,720,67,188095,107,22090,9084867,544

In [49]:
df_mar_may_reset=df_mar_may.reset_index()
df_mar_may_reset

,index,submit,start,nnodes,max_minutes,queue_minutes,backlog_minutes,backlog_num_jobs,running_num_jobs,running_minutes,run_minutes
0,36043,2022-03-01 00:01:56,2022-03-01 00:01:57,1,15,0,381027,234,20786,8077218,0
1,36044,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381027,234,20786,8077218,0
2,36045,2022-03-01 00:01:57,2022-03-01 00:02:02,1,15,0,381042,235,20786,8077218,0
3,36046,2022-03-01 00:01:58,2022-03-01 00:02:02,1,15,0,381057,236,20786,8077218,0
4,36047,2022-03-01 00:01:59,2022-03-01 00:02:02,1,15,0,381072,237,20786,8077218,0
...,...,...,...,...,...,...,...,...,...,...,...
162812,198855,2022-05-31 23:47:46,2022-06-01 01:02:47,6,360,75,181335,103,22090,9084867,122
162813,198856,2022-05-31 23:49:38,2022-06-01 01:03:11,1,2600,73,181695,104,22090,9084867,2593
162814,198857,2022-05-31 23:50:04,2022-05-31 23:57:46,6,1200,7,184295,105,22090,9084867,0
162815,198858,2022-05-31 23:50:04,2022-06-01 01:03:11,1,2600,73,185495,106,22090,9084867,2587
162816,198859,2022-05-31 23:55:22,2022-06-01 01:03:18,2,720,67,188095,107,22090,9084867,544

In [50]:
from importlib import reload
reload(create_input_data)
lookback=15
col_name="queue_minutes"
vars=["nnodes",	"backlog_num_jobs"]

#df_mar_31,rows_to_discard=create_input_data.optimised_add_age_past_k_obs_insert(lookback, df_mar_reset,col_name)
df_lookback15,rows_to_discard=create_input_data.window_k_obs_all_vars_insert(lookback, df_mar_may_reset,col_name,vars)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42
*** loopback_count never equals to  lookback. so do not consider the row 43
*** loopback_count never equals to  lookback. so do not consider the row 44
*** loopback_count never equals to  lookback. so do not consider the row 45
*** loopback_count never equals to  lookback. so do not consider the row 46
*** loopback_count never equals to  lookback. so do not consider the row 47
*** loopback_count never equals to  lookback. so do not consider the row 48
*** loopback_count never equals to  lookback. so do not consider the row 49
*** loopback_count never equals to  lookback. so do not consider the row 50
*** loopback_count never equals to  lookback. so do not consider the row 51
*** loopback_count never equals to  lookback. so do not consider the row 52
*** loopback_count never equals to  lookback. so do not consider the row 53
*** loopback_count never equals to  lookback. so do not consider the row 54
*** loopback_count never equals to  lookback. so do not consider the row 55
*** loopback_count never equals to  lookback. so do not consider the row 56
*** loopback_count never equals to  lookback. so do not consider the row 57
*** loopback_count never equals to  lookback. so do not consider the row 58
*** loopback_count never equals to  lookback. so do not consider the row 59
*** loopback_count never equals to  lookback. so do not consider the row 60

In [51]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback15_sw_mar_may31.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_lookback15.to_csv(filepath,index=False)

In [63]:
df_lookback15_age_input = df_lookback15.iloc[61:,:]
df_lookback15_age_input=df_lookback15_age_input.reset_index(drop=True)

In [4]:
#df_lookback15_age,rows_to_discard_age = create_input_data.optimised_add_total_age_nodes_past_k_obs_insert(15,df_lookback15_age_input,"queue_minutes")

In [5]:
#df_lookback15_age_input

In [65]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback15_age_nodes_sw_mar_may31.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_lookback15.to_csv(filepath,index=False)

In [9]:
from importlib import reload
reload(create_input_data)
lookback=35
col_name="queue_minutes"
vars=["nnodes",	"backlog_num_jobs"]

df_feb_1aug2022 = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Feb2022_1Aug2022_normal_sorted.csv", parse_dates_col=[4,5,6])
opt_df=build_features.remove_cols(df_feb_1aug2022,['jobid','end','account','state','user','reqcpus','nodelist'])
df_mar_may = get_jobs_in_range(opt_df,"2022-03-01", "2022-06-01")
df_mar_may_reset=df_mar_may.reset_index()
#df_mar_may_reset
#df_mar_31,rows_to_discard=create_input_data.optimised_add_age_past_k_obs_insert(lookback, df_mar_reset,col_name)
df_lookback35,rows_to_discard=create_input_data.window_k_obs_all_vars_insert(lookback, df_mar_may_reset,col_name,vars)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42
*** loopback_count never equals to  lookback. so do not consider the row 43
*** loopback_count never equals to  lookback. so do not consider the row 44
*** loopback_count never equals to  lookback. so do not consider the row 45
*** loopback_count never equals to  lookback. so do not consider the row 46
*** loopback_count never equals to  lookback. so do not consider the row 47
*** loopback_count never equals to  lookback. so do not consider the row 48
*** loopback_count never equals to  lookback. so do not consider the row 49
*** loopback_count never equals to  lookback. so do not consider the row 50
*** loopback_count never equals to  lookback. so do not consider the row 51
*** loopback_count never equals to  lookback. so do not consider the row 52
*** loopback_count never equals to  lookback. so do not consider the row 53
*** loopback_count never equals to  lookback. so do not consider the row 54
*** loopback_count never equals to  lookback. so do not consider the row 55
*** loopback_count never equals to  lookback. so do not consider the row 56
*** loopback_count never equals to  lookback. so do not consider the row 57
*** loopback_count never equals to  lookback. so do not consider the row 58
*** loopback_count never equals to  lookback. so do not consider the row 59
*** loopback_count never equals to  lookback. so do not consider the row 60
*** loopback_count never equals to  lookback. so do not consider the row 61
*** loopback_count never equals to  lookback. so do not consider the row 62
*** loopback_count never equals to  lookback. so do not consider the row 63
*** loopback_count never equals to  lookback. so do not consider the row 64
*** loopback_count never equals to  lookback. so do not consider the row 65
*** loopback_count never equals to  lookback. so do not consider the row 66
*** loopback_count never equals to  lookback. so do not consider the row 67
*** loopback_count never equals to  lookback. so do not consider the row 68
*** loopback_count never equals to  lookback. so do not consider the row 69
*** loopback_count never equals to  lookback. so do not consider the row 70
*** loopback_count never equals to  lookback. so do not consider the row 71
*** loopback_count never equals to  lookback. so do not consider the row 72
*** loopback_count never equals to  lookback. so do not consider the row 73
*** loopback_count never equals to  lookback. so do not consider the row 74
*** loopback_count never equals to  lookback. so do not consider the row 75
*** loopback_count never equals to  lookback. so do not consider the row 76
*** loopback_count never equals to  lookback. so do not consider the row 77
*** loopback_count never equals to  lookback. so do not consider the row 78
*** loopback_count never equals to  lookback. so do not consider the row 79
*** loopback_count never equals to  lookback. so do not consider the row 80
*** loopback_count never equals to  lookback. so do not consider the row 81
*** loopback_count never equals to  lookback. so do not consider the row 82
*** loopback_count never equals to  lookback. so do not consider the row 83
*** loopback_count never equals to  lookback. so do not consider the row 84
*** loopback_count never equals to  lookback. so do not consider the row 85
*** loopback_count never equals to  lookback. so do not consider the row 86
*** loopback_count never equals to  lookback. so do not consider the row 87
*** loopback_count never equals to  lookback. so do not consider the row 88
*** loopback_count never equals to  lookback. so do not consider the row 89
*** loopback_count never equals to  lookback. so do not consider the row 90
*** loopback_count never equals to  lookback. so do not consider the row 91
*** loopback_count never equals to  lookback. so do not consider the row 92
*** loopback_count never equals to  lookback. so do not consider the row 93
*** loopback_count never equals to  lookback. so do not consider the row 94
*** loopback_count never equals to  lookback. so do not consider the row 95
*** loopback_count never equals to  lookback. so do not consider the row 96
*** loopback_count never equals to  lookback. so do not consider the row 97
*** loopback_count never equals to  lookback. so do not consider the row 98
*** loopback_count never equals to  lookback. so do not consider the row 99
*** loopback_count never equals to  lookback. so do not consider the row 100
*** loopback_count never equals to  lookback. so do not consider the row 101
*** loopback_count never equals to  lookback. so do not consider the row 102
*** loopback_count never equals to  lookback. so do not consider the row 103
*** loopback_count never equals to  lookback. so do not consider the row 104
*** loopback_count never equals to  lookback. so do not consider the row 105
*** loopback_count never equals to  lookback. so do not consider the row 106
*** loopback_count never equals to  lookback. so do not consider the row 107
*** loopback_count never equals to  lookback. so do not consider the row 108
*** loopback_count never equals to  lookback. so do not consider the row 109
*** loopback_count never equals to  lookback. so do not consider the row 110
*** loopback_count never equals to  lookback. so do not consider the row 111
*** loopback_count never equals to  lookback. so do not consider the row 112
*** loopback_count never equals to  lookback. so do not consider the row 113
*** loopback_count never equals to  lookback. so do not consider the row 114
*** loopback_count never equals to  lookback. so do not consider the row 115
*** loopback_count never equals to  lookback. so do not consider the row 116
*** loopback_count never equals to  lookback. so do not consider the row 117
*** loopback_count never equals to  lookback. so do not consider the row 118
*** loopback_count never equals to  lookback. so do not consider the row 119
*** loopback_count never equals to  lookback. so do not consider the row 120
*** loopback_count never equals to  lookback. so do not consider the row 121
*** loopback_count never equals to  lookback. so do not consider the row 122
*** loopback_count never equals to  lookback. so do not consider the row 123
*** loopback_count never equals to  lookback. so do not consider the row 124
*** loopback_count never equals to  lookback. so do not consider the row 125
*** loopback_count never equals to  lookback. so do not consider the row 126
*** loopback_count never equals to  lookback. so do not consider the row 127
*** loopback_count never equals to  lookback. so do not consider the row 128
*** loopback_count never equals to  lookback. so do not consider the row 129
*** loopback_count never equals to  lookback. so do not consider the row 130

In [10]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback35_nnodes_bklogjobs_sw_mar_may31.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_lookback35.to_csv(filepath,index=False)

In [10]:
from importlib import reload
reload(create_input_data)
lookback=35  (discard column 77)
col_name="queue_minutes"
#vars=["nnodes",	"backlog_num_jobs"]

df_Jan_1Feb2022 = create_input_data.read_data(csv_file_name="../data/raw/anon_jobs_1Jan2022_1Feb2022_normal_sorted.csv", parse_dates_col=[4,5,6])
#opt_df=build_features.remove_cols(df_Jan_1Feb2022,['jobid','end','account','state','user','reqcpus','nodelist'])
df_jan = get_jobs_in_range(df_Jan_1Feb2022,"2022-01-01", "2022-02-01")
df_jan_reset=df_jan.reset_index(drop=True)
#df_jan_reset
#df_mar_may_reset
#df_mar_31,rows_to_discard=create_input_data.optimised_add_age_past_k_obs_insert(lookback, df_mar_reset,col_name)
df_lookback35,rows_to_discard=create_input_data.optimised_add_past_k_obs_insert(lookback, df_jan_reset,col_name)

*** loopback_count never equals to  lookback. so do not consider the row 0
*** loopback_count never equals to  lookback. so do not consider the row 1
*** loopback_count never equals to  lookback. so do not consider the row 2
*** loopback_count never equals to  lookback. so do not consider the row 3
*** loopback_count never equals to  lookback. so do not consider the row 4
*** loopback_count never equals to  lookback. so do not consider the row 5
*** loopback_count never equals to  lookback. so do not consider the row 6
*** loopback_count never equals to  lookback. so do not consider the row 7
*** loopback_count never equals to  lookback. so do not consider the row 8
*** loopback_count never equals to  lookback. so do not consider the row 9
*** loopback_count never equals to  lookback. so do not consider the row 10
*** loopback_count never equals to  lookback. so do not consider the row 11
*** loopback_count never equals to  lookback. so do not consider the row 12
*** loopback_count never equals to  lookback. so do not consider the row 13
*** loopback_count never equals to  lookback. so do not consider the row 14
*** loopback_count never equals to  lookback. so do not consider the row 15
*** loopback_count never equals to  lookback. so do not consider the row 16
*** loopback_count never equals to  lookback. so do not consider the row 17
*** loopback_count never equals to  lookback. so do not consider the row 18
*** loopback_count never equals to  lookback. so do not consider the row 19
*** loopback_count never equals to  lookback. so do not consider the row 20
*** loopback_count never equals to  lookback. so do not consider the row 21
*** loopback_count never equals to  lookback. so do not consider the row 22
*** loopback_count never equals to  lookback. so do not consider the row 23
*** loopback_count never equals to  lookback. so do not consider the row 24
*** loopback_count never equals to  lookback. so do not consider the row 25
*** loopback_count never equals to  lookback. so do not consider the row 26
*** loopback_count never equals to  lookback. so do not consider the row 27
*** loopback_count never equals to  lookback. so do not consider the row 28
*** loopback_count never equals to  lookback. so do not consider the row 29
*** loopback_count never equals to  lookback. so do not consider the row 30
*** loopback_count never equals to  lookback. so do not consider the row 31
*** loopback_count never equals to  lookback. so do not consider the row 32
*** loopback_count never equals to  lookback. so do not consider the row 33
*** loopback_count never equals to  lookback. so do not consider the row 34
*** loopback_count never equals to  lookback. so do not consider the row 35
*** loopback_count never equals to  lookback. so do not consider the row 36
*** loopback_count never equals to  lookback. so do not consider the row 37
*** loopback_count never equals to  lookback. so do not consider the row 38
*** loopback_count never equals to  lookback. so do not consider the row 39
*** loopback_count never equals to  lookback. so do not consider the row 40
*** loopback_count never equals to  lookback. so do not consider the row 41
*** loopback_count never equals to  lookback. so do not consider the row 42
*** loopback_count never equals to  lookback. so do not consider the row 43
*** loopback_count never equals to  lookback. so do not consider the row 44
*** loopback_count never equals to  lookback. so do not consider the row 45
*** loopback_count never equals to  lookback. so do not consider the row 46
*** loopback_count never equals to  lookback. so do not consider the row 47
*** loopback_count never equals to  lookback. so do not consider the row 48
*** loopback_count never equals to  lookback. so do not consider the row 49
*** loopback_count never equals to  lookback. so do not consider the row 50
*** loopback_count never equals to  lookback. so do not consider the row 51
*** loopback_count never equals to  lookback. so do not consider the row 52
*** loopback_count never equals to  lookback. so do not consider the row 53
*** loopback_count never equals to  lookback. so do not consider the row 54
*** loopback_count never equals to  lookback. so do not consider the row 55
*** loopback_count never equals to  lookback. so do not consider the row 56
*** loopback_count never equals to  lookback. so do not consider the row 57
*** loopback_count never equals to  lookback. so do not consider the row 58
*** loopback_count never equals to  lookback. so do not consider the row 59
*** loopback_count never equals to  lookback. so do not consider the row 60
*** loopback_count never equals to  lookback. so do not consider the row 61
*** loopback_count never equals to  lookback. so do not consider the row 62
*** loopback_count never equals to  lookback. so do not consider the row 63
*** loopback_count never equals to  lookback. so do not consider the row 64
*** loopback_count never equals to  lookback. so do not consider the row 65
*** loopback_count never equals to  lookback. so do not consider the row 66
*** loopback_count never equals to  lookback. so do not consider the row 67
*** loopback_count never equals to  lookback. so do not consider the row 68
*** loopback_count never equals to  lookback. so do not consider the row 69
*** loopback_count never equals to  lookback. so do not consider the row 70
*** loopback_count never equals to  lookback. so do not consider the row 71
*** loopback_count never equals to  lookback. so do not consider the row 72
*** loopback_count never equals to  lookback. so do not consider the row 73
*** loopback_count never equals to  lookback. so do not consider the row 74
*** loopback_count never equals to  lookback. so do not consider the row 75
*** loopback_count never equals to  lookback. so do not consider the row 76

In [11]:
# write to file
from pathlib import Path  
filepath = Path('../data/processed/lookback35_anon_jan1_feb1.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_lookback35.to_csv(filepath,index=False)

In [12]:
df_lookback35

,jobid,user,account,state,submit,start,end,reqcpus,nnodes,max_minutes,...,qm26,qm27,qm28,qm29,qm30,qm31,qm32,qm33,qm34,qm35
0,8966735,63efbc460b9d86577ac4a6a795b844ed63b9402f4fec7b...,21d123703106994fa0581e31a03015aabdc2720ed243f5...,COMPLETED,2022-01-01 00:07:27,2022-01-01 00:07:29,2022-01-01 00:11:59,2,1,180,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
1,8966746,1f138da1b8259d0693edf87e7bd0ddd3b9aa9890c9258b...,5aabe5690f031ae596143a67d7c5132364caac78b3a364...,COMPLETED,2022-01-01 00:15:24,2022-01-01 00:15:40,2022-01-01 00:21:12,1024,16,9,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
2,8966750,8a74d070230571d06c8053d86b392627fc16ea9da83579...,a64831302dce150b1345cf3706530cb7de24098f76a14e...,COMPLETED,2022-01-01 00:16:12,2022-01-01 00:17:43,2022-01-01 00:21:22,1,1,8,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
3,8966755,8a74d070230571d06c8053d86b392627fc16ea9da83579...,a64831302dce150b1345cf3706530cb7de24098f76a14e...,COMPLETED,2022-01-01 00:27:17,2022-01-01 00:31:39,2022-01-01 00:35:34,1,1,8,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
4,8966756,499b05f4c4fa3275b699c4148fd8ad155b80b1ff6e74eb...,249cc6bc0b15d02121ec15c6bbd8cc704dba53f33457d8...,COMPLETED,2022-01-01 00:27:23,2022-01-01 07:47:19,2022-01-01 20:45:06,52,4,2880,...,-200,-200,-200,-200,-200,-200,-200,-200,-200,-200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33492,9084244,1aba0f04a36f9b1540c05b94994916b5260800620cffd9...,c7be9c94f84faf3ad216c1d3a5b28aec0ffce6b5fcdcd0...,COMPLETED,2022-01-31 23:57:23,2022-02-01 07:32:48,2022-02-01 22:26:41,136,2,2880,...,1,1,1,0,0,0,0,0,0,7
33493,9084248,1aba0f04a36f9b1540c05b94994916b5260800620cffd9...,c7be9c94f84faf3ad216c1d3a5b28aec0ffce6b5fcdcd0...,COMPLETED,2022-01-31 23:58:01,2022-02-01 07:43:01,2022-02-02 04:41:52,136,2,2880,...,1,1,1,0,0,0,0,0,0,7
33494,9084249,1aba0f04a36f9b1540c05b94994916b5260800620cffd9...,c7be9c94f84faf3ad216c1d3a5b28aec0ffce6b5fcdcd0...,COMPLETED,2022-01-31 23:58:30,2022-02-01 07:44:39,2022-02-02 08:46:13,136,2,2880,...,1,1,1,0,0,0,0,0,0,7
33495,9084250,1aba0f04a36f9b1540c05b94994916b5260800620cffd9...,c7be9c94f84faf3ad216c1d3a5b28aec0ffce6b5fcdcd0...,COMPLETED,2022-01-31 23:58:59,2022-02-01 07:44:39,2022-02-02 02:04:50,136,2,2880,...,1,1,1,0,0,0,0,0,0,7
33496,9084251,1e28cab4a3a687f56bb0f3b2f8dc0f45bcbdeb49fdfbce...,087aebc8ec790a00fc7a4a0735d7ea392900bb68eb0544...,COMPLETED,2022-01-31 23:59:26,2022-01-31 23:59:28,2022-02-01 00:41:13,16,1,2880,...,1,1,1,0,0,0,0,0,0,7